<!-- view: /views/modals/visualizarPendenciaFicha.gsp -->
<!-- controller:${params?.controller} -->
<!-- action: ${params?.action} -->
<div class="lazy-load">
    /modals/visualizarPendenciaFicha
</div>
<div class="window-container text-left" style="height:auto;" id="divVisualizarPendenciaWrapper">
    <span>Carregando...</span>
</div>
