.tooltipster-sidetip.tooltipster-yellow .tooltipster-box {
    border-radius: 3px;
    border: 1px solid  #F3B420;
    background: #FFF7C0;
}

.tooltipster-sidetip.tooltipster-yellow .tooltipster-content {
    color: #090202;
}

.tooltipster-sidetip.tooltipster-yellow .tooltipster-arrow {
    height: 9px;
    margin-left: -9px;
    width: 18px
}

.tooltipster-sidetip.tooltipster-yellow.tooltipster-left .tooltipster-arrow,
.tooltipster-sidetip.tooltipster-yellow.tooltipster-right .tooltipster-arrow
{
    height: 18px;
    margin-left: 0;
    margin-top: -9px;
    width: 9px
}

.tooltipster-sidetip.tooltipster-yellow .tooltipster-arrow-background {
    border: 9px solid transparent
}

.tooltipster-sidetip.tooltipster-yellow.tooltipster-bottom .tooltipster-arrow-background
{
    border-bottom-color: #F3B420;
    top: 1px
}

.tooltipster-sidetip.tooltipster-yellow.tooltipster-left .tooltipster-arrow-background
{
    border-left-color: #F3B420;
    left: -1px
}

.tooltipster-sidetip.tooltipster-yellow.tooltipster-right .tooltipster-arrow-background
{
    border-right-color: #F3B420;
    left: 1px
}

.tooltipster-sidetip.tooltipster-yellow.tooltipster-top .tooltipster-arrow-background
{
    border-top-color: #F3B420;
    top: -1px
}

.tooltipster-sidetip.tooltipster-yellow .tooltipster-arrow-border {
    border: 9px solid transparent
}

.tooltipster-sidetip.tooltipster-yellow.tooltipster-bottom .tooltipster-arrow-border
{
    border-bottom-color: #ccc
}

.tooltipster-sidetip.tooltipster-yellow.tooltipster-left .tooltipster-arrow-border
{
    border-left-color: #ccc
}

.tooltipster-sidetip.tooltipster-yellow.tooltipster-right .tooltipster-arrow-border
{
    border-right-color: #ccc
}

.tooltipster-sidetip.tooltipster-yellow.tooltipster-top .tooltipster-arrow-border
{
    border-top-color: #ccc
}

.tooltipster-sidetip.tooltipster-yellow.tooltipster-bottom .tooltipster-arrow-uncropped
{
    top: -9px
}

.tooltipster-sidetip.tooltipster-yellow.tooltipster-right .tooltipster-arrow-uncropped
{
    left: -9px
}
