
<div id="infiniteCaroucelAmeacadas" class="card w-100" data-loaded="false">
    <div class="card-body text-center">
        <div class="container">
            <div class="infiniteCarousel">
                <div class="wrapper" style="overflow: hidden;">
                    <ul style="width: 9999px;">
                        <li v-for="(item,i) in listImagensEspeciesAmeacadas" :key="item.sq_ficha_multimidia">
                            <a href="#!" :title="item.no_autor">
                                <img src="/salve-estadual/assets/public/lv-01.jpg" height="75" width="75" :alt="item.no_autor">
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="#!" class="arrow back">&lt;</a>
                <a href="#!" class="arrow forward">&gt;</a>
            </div>
        </div>
    </div>
</div>
