<tbody>
<tr class="colaboracao-avaliada" data-contexto="consulta" data-fonte="consulta">
    <td class="text-center">25/10/2018 07:18</td>
    <td>Caroline Leuchtenberger</td>
    <td><p>O repertório vocal da espécie é composto por cerca de 15 tipos sonoros distintos, que são utilizados em diferentes contextos sociais, podendo ainda ser utilizados em combinação e apresentar graduações, aumentando ainda mais a possibilidade de mensagens transmitidas, o que reforça a sociabilidade da espécie (Leuchtenberger et al., 2014a).</p><div style="color:#7a7a7a !important;"><p class="western"><span style="color: #000000;"><span lang="en-US">Leuchtenberger, C., Sousa-Lima, R., Duplaix, N., Magnusson, W. and Mourão, G. (2014a) Vocal repertoire of the social giant otter. </span><span lang="en-US"><em>Journal of the Accoustical Society of America </em></span><span lang="en-US">136(5): 2861-2875. </span><span style="color: #0563c1;"><u><a href="http://dx.doi.org/10.1121/1.4896518"><span lang="en-US">http://dx.doi.org/10.1121/1.4896518</span></a></u></span></span></p></div>
    </td><td class="text-center" style="color:inherit !important;">
    <select id="selectColaboracao2352" class="fldSelect fld170 form-control tooltipstered" style="color:inherit !important;" data-grupo="historia-natural" data-campo-ficha="dsHistoriaNatural-14018" data-params="contexto:consulta,id:2352" data-change="updateSituacaoColaboracao"><option data-codigo="ACEITA" value="1012" selected="">Aceita</option><option data-codigo="NAO_ACEITA" value="1014">Não Aceita</option><option data-codigo="NAO_AVALIADA" value="1015">Não Avaliada</option><option data-codigo="PARCIAL" value="1016">Parcialmente Aceita</option><option data-codigo="RESOLVER_OFICINA" value="1017">Resolver em Oficina</option>
    </select>
    <div id="divWrapperTextoNaoAceita2352" style="display:none;">
        <div id="divTextoNaoAceita2352" class="fldTextoLivre" style="font-size: 12px !important;"></div>
        <button type="button" data-action="editNaoAceita" data-id="2352" class="btn btn-xs btn-default tooltipstered" style="cursor: pointer;">Editar</button>
    </div>
</td>

</tr>

<tr class="colaboracao-avaliada" data-contexto="consulta" data-fonte="consulta">
    <td class="text-center">25/10/2018 07:19</td>
    <td>Guilherme de Miranda Mourão</td>
    <td><p><span style="font-family: 'Times New Roman';">Ariranhas alimentam-se principalmente de peixes, podendo consumir, em menor frequência, pequenos mamíferos, aves, répteis e eventualmente invertebrados (Duplaix 1980). Em algumas áreas da Amazônia, a ariranha tende a ser seletiva durante a estação seca e apresenta hábito oportunista na cheia, quando os peixes se dispersam para os igapós (Cabral <em>et al.</em> 2010). Durante estações secas extremas no Pantanal, ariranhas em habitats pobres como lagoas temporárias, podem fazer extensivo uso de jacarés como presa (Ribas et al. 2012). O hábito alimentar piscívoro da espécie promove conflitos com pescadores e piscicultores, que consideram a interferência da ariranha negativa no sucesso pesqueiro (Zucco &amp; Tomás 2004, Rosas-Ribeiro <em>et al.</em> 2011).</span></p>
        <p><span style="font-family: 'Times New Roman';">[Observação para os organizadores desta revisão: Não consigo editar a tabela abaixo, que pergunta se o hábito alimentar é especialista. Minha resposta seria: "SIM, mas com alguma flexibilidade em situações de escassez de peixes, que são as presas preferenciais."&nbsp; Ariranhas se alimentam basicamente de peixes, têm um monte de adaptações para se alimentar de peixes e raramente fazem uso de outras presas. Não conheço outro carnívoro Neotropical com dieta tão especializada (talvez exceto para a raposinha comendo insetos)].</span></p><div style="color:#7a7a7a !important;"><p>Ribas, C., Damasceno, G., Magnusson, M., Leuchtenberger, C. &amp; Mourão G. 2012. Giant otters feeding on caiman: evidence for an expanded trophic niche of recovering populations, Studies on Neotropical Fauna and Environment, 47:1, 19-23.</p></div>
    </td><td class="text-center" style="color:inherit !important;">
    <select id="selectColaboracao1846" class="fldSelect fld170 form-control tooltipstered" style="color:inherit !important;" data-grupo="historia-natural" data-campo-ficha="dsHistoriaNatural-14018" data-params="contexto:consulta,id:1846" data-change="updateSituacaoColaboracao"><option data-codigo="ACEITA" value="1012" selected="">Aceita</option><option data-codigo="NAO_ACEITA" value="1014">Não Aceita</option><option data-codigo="NAO_AVALIADA" value="1015">Não Avaliada</option><option data-codigo="PARCIAL" value="1016">Parcialmente Aceita</option><option data-codigo="RESOLVER_OFICINA" value="1017">Resolver em Oficina</option>
    </select>
    <div id="divWrapperTextoNaoAceita1846" style="display:none;">
        <div id="divTextoNaoAceita1846" class="fldTextoLivre" style="font-size: 12px !important;"></div>
        <button type="button" data-action="editNaoAceita" data-id="1846" class="btn btn-xs btn-default tooltipstered" style="cursor: pointer;">Editar</button>
    </div>
</td>

</tr>

<tr class="colaboracao-nao-avaliada" data-contexto="consulta" data-fonte="consulta">
    <td class="text-center">20/03/2019 01:33</td>
    <td>Marcelo Lopes Rheingantz</td>
    <td><p>Ariranha é uma das espécies mais sociais da sub-família Lutrinae. Um grupo de ariranhas varia entre 2 a 16 animais, e costuma ser composto por um casal reprodutor, sub-adultos não reprodutivos e filhotes.&nbsp; Os animais de um grupo podem ou não estarem relacionados geneticamente (Ribas et al. 2016).</p><div style="color:#7a7a7a !important;"><p>Ribas, C., H.A. Cunha, G. Damasceno, W.E. Magnusson, A. Solé-Cava, G. Mourão. 2016. More than meets the eye: Kinship and social organization in giant&nbsp;otters (Pteronura brasiliensis). Behavioral Ecology and&nbsp;Sociobiology 70(1): 61-72.</p></div>
    </td><td class="text-center" style="color:inherit !important;">
    <select id="selectColaboracao3311" class="fldSelect fld170 form-control tooltipstered" style="color:inherit !important;" data-grupo="historia-natural" data-campo-ficha="dsHistoriaNatural-14018" data-params="contexto:consulta,id:3311" data-change="updateSituacaoColaboracao"><option data-codigo="ACEITA" value="1012">Aceita</option><option data-codigo="NAO_ACEITA" value="1014">Não Aceita</option><option data-codigo="NAO_AVALIADA" value="1015" selected="">Não Avaliada</option><option data-codigo="PARCIAL" value="1016">Parcialmente Aceita</option><option data-codigo="RESOLVER_OFICINA" value="1017">Resolver em Oficina</option>
    </select>
    <div id="divWrapperTextoNaoAceita3311" style="display:none;">
        <div id="divTextoNaoAceita3311" class="fldTextoLivre" style="font-size: 12px !important;"></div>
        <button type="button" data-action="editNaoAceita" data-id="3311" class="btn btn-xs btn-default tooltipstered" style="cursor: pointer;">Editar</button>
    </div>
</td>

</tr>

<tr class="colaboracao-nao-avaliada" data-contexto="consulta" data-fonte="consulta">
    <td class="text-center">09/04/2019 03:11</td>
    <td>Patrícia Farias Rosas Ribeiro</td>
    <td><p style="text-align: left;"><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px;">Sugiro que o texto abaixo destacado seja apagado, já que existe um tópico da ficha com o título "Interações com outras Espécies", no qual este assunto é abordado.</span></p>
        <p style="text-align: left;"><span style="background-color: #ffff00;"><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">Em</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">alguns</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">biomas,</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span lang="ES-MX" style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">a</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">ariranha</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">e</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">a</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">lontra</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">neotropical</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">(<em style="box-sizing: inherit;">Lontra</em></span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><em style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;"><span style="box-sizing: inherit;">longicaudis</span></em><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">)</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">ocupam</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">o</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">mesmo</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">ambiente,</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">vivendo</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">em</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">simpatria</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">(Larivière</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">1999).&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">No</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">entanto,</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">diferenças</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">na</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">preferência</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">de</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">presas</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">podem</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">ser</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">um</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">importante</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">indício</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">de</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">baixa</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">competitividade</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">entre</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">as</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">espécies</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">(Silva</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">2010).</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">Segundo</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">Carter</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&amp;</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">Rosas</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">(1997),</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">as</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">ariranhas</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">utilizam</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">com</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">mais</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">freqüência</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">os</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">rios</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">maiores,</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">enquanto</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">que</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">as</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">lontras</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">habitam</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">corpos</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">d</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">’</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">água</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">menores,</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">córregos</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">e</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">áreas</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">alagadas</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">mais</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">distantes</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">dos</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">rios</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">principais.</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">Além</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">disso,</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">lontras</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">aparentemente</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">não</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">usam</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">locas</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">acima</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">das</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">marcas</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">de&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">inundações</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">sazonais</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">para</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">o</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">nascimento</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">de</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">seus</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">filhotes,</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">se</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;abrigando&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">geralmente</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">em</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">aberturas</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">naturais</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">em</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">áreas</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">rochosas,</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">que</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">não</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">são u</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">sualmente</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">utilizados</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">pelas</span><span style="color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">&nbsp;</span><span style="box-sizing: inherit; color: #0a0a0a; font-family: 'Times New Roman'; font-size: 18.6667px; background-color: #ffff00;">ariranhas.</span></span></p><div style="color:#7a7a7a !important;"><p><span style="color: black;">Silva, R.E.; Rosas, F.C.W. &amp; Zuanon, J. 2014. </span><span style="color: black;">Feeding ecology of the giant otter (<em>Pteronura brasiliensis</em>) and the Neotropical otter (<em>Lontra longicaudis</em>) in Jaú National Park, Amazon, Brazil<em>. </em></span><em><span style="color: black;">Journal of Natural History</span></em><span style="color: black;">, 48(7-8): 465-479.</span></p></div>
    </td><td class="text-center" style="color:inherit !important;">
    <select id="selectColaboracao3914" class="fldSelect fld170 form-control tooltipstered" style="color:inherit !important;" data-grupo="historia-natural" data-campo-ficha="dsHistoriaNatural-14018" data-params="contexto:consulta,id:3914" data-change="updateSituacaoColaboracao"><option data-codigo="ACEITA" value="1012">Aceita</option><option data-codigo="NAO_ACEITA" value="1014">Não Aceita</option><option data-codigo="NAO_AVALIADA" value="1015" selected="">Não Avaliada</option><option data-codigo="PARCIAL" value="1016">Parcialmente Aceita</option><option data-codigo="RESOLVER_OFICINA" value="1017">Resolver em Oficina</option>
    </select>
    <div id="divWrapperTextoNaoAceita3914" style="display:none;">
        <div id="divTextoNaoAceita3914" class="fldTextoLivre" style="font-size: 12px !important;"></div>
        <button type="button" data-action="editNaoAceita" data-id="3914" class="btn btn-xs btn-default tooltipstered" style="cursor: pointer;">Editar</button>
    </div>
</td>

</tr>

</tbody>