
.slider {
  height: 25vh;
  position: relative;
  overflow: hidden;
}

.no-cssvhunit .slider { height: 17em; }

.slider__list {
  list-style-type: none;
  position: relative;
  height: 100%;
  transition: left 0s ease 0s;
}

.slider__item a {
    /*position: relative;
    top: -53px;
    left: 0;*/
    /*margin-bottom: 23px;*/
}

.slider__item:hover {

}

.slider__item {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  text-align: center;
  /*font-size: 18px;*/
  /*line-height: 1.25;*/
  width: 25%;
  /*box-shadow: 10px 10px 10px #151515a3;*/
}
/*
.slider__item:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1.5vh solid #fff;
  opacity: 0;
}
*/

.no-cssvhunit .slider__item { font-size: 13em; }
.no-cssvhunit .slider__item:before { border: .1em solid #fff; }

.slider__nav {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  width: 6.2vh;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.slider__nav:hover {
    /*background: rgba(255, 255, 255, 0.5); */
    background: #382007c7;
}

.slider__nav:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  border-color: #cba867;
  border-style: solid;
  width: 3vh;
  height: 3vh;
  margin: -1.5vh 0 0 -1.5vh;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.no-cssvhunit .slider__nav { width: 10em; }

.no-cssvhunit .slider__nav:before {
  width: 2em;
  height: 2em;
  margin: -1em 0 0 -1em;
}

.no-csstransforms .slider__nav:before {
  width: 0;
  height: 0;
  border-style: solid;
}

.slider__nav_left { left: 0; }

.slider__nav_left:before { border-width: 0 0 1vh 1vh; }

.no-cssvhunit .slider__nav_left:before { border-width: 0 0 .7em .7em; }

.no-csstransforms .slider__nav_left:before {
  border-width: 1.5em 3em 1.5em 0;
  border-color: transparent #cba867 transparent transparent;
}

.slider__nav_next { right: 0; }

.slider__nav_next:before { border-width: 1vh 1vh 0 0; }

.no-cssvhunit .slider__nav_next:before { border-width: .7em .7em 0 0; }

.no-csstransforms .slider__nav_next:before {
  border-width: 1.5em 0 1.5em 3em;
  border-color: transparent transparent transparent #cba867;
}

.slider__tabs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.slider__tabs__item {
  border-radius: 50%;
  background: #aaa;
  display: inline-block;
  vertical-align: top;
  width: 2.5vh;
  height: 2.5vh;
  margin: 2vh;
  cursor: pointer;
}

.no-cssvhunit .slider__tabs__item {
  width: 1em;
  height: 1em;
  margin: 1.2em;
}

.slider__tabs__item_active { background: #fff; }

.slider__info {
  position: absolute;
  min-width: 30vh;
  padding: .5vh;
  bottom: 1.5vh;
  left: 50%;
  margin-left: -10.5vh;
  font-size: 2vh;
  background: #2229338c;
  text-align: center;
  color: #f9ee12c4;
}

.no-cssvhunit .slider__info {
  font-size: 1em;
  padding: .5em;
  bottom: 1em;
  width: 10em;
  margin-left: -5.5em;
}

.slider-control {
  display: inline-block;
  vertical-align: top;
  border: 0 none;
  background: #6f759c;
  color: #fff;
  font-size: 2.5vh;
  height: 4vh;
  line-height: 4vh;
  padding: 0 2vh;
  margin: 0 1vh;
}

.no-cssvhunit .slider-control {
  font-size: 1.4em;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
  margin: 0 1em;
}