body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    padding-top: 90px;
    font-size: 14px;
    font-family: "open_sansregular","Times New Roman", "Times", "Arial", "Helvetica", "Lato", "Roboto", "sans-serif" !Important;
    background-color: transparent;
}

* {
    font-size: inherit;
    font-family: "open_sansregular","Times New Roman", "Times", "Arial", "Helvetica", "Lato", "Roboto", "sans-serif"
}

.navbar *
{
	font-size:inherit;
}
.navbar {
	font-size:inherit !important;
	min-height: 30px !important;
	background-color: #d3e0c6;
	background-image: -moz-linear-gradient(top, #dfe9d5, #c1d2b0);
	background-image: -ms-linear-gradient(top, #dfe9d5, #c1d2b0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfe9d5), to(#c1d2b0));
	background-image: -webkit-linear-gradient(top, #dfe9d5, #c1d2b0);
	background-image: -o-linear-gradient(top, #dfe9d5, #c1d2b0);
	background-image: linear-gradient(top, #dfe9d5, #c1d2b0);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfe9d5', endColorstr='#c1d2b0', GradientType=0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1) !important;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1) !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1) !important;
}

.navbar *
{
	font-size:16px !important;
}

.navbar
{
	font-size:16px !important;
}
.navbar .navbar-nav>li>a {
	padding-top: 6px !important;
	padding-bottom: 0 !important;
	height: 30px;
}

.navbar .nav>li>a {
	color: #000;
	text-decoration: none;
}

.navbar .nav>li>a:hover {
	background-color: #e0ead6;
	text-decoration: none;
}

.app-navbar
{
	min-height: 70px !important;
}

.app-navbar .container-fluid
{
 	display:table;
 	width:100%;
 	width:100%;
 	height:60px;
}

.app-navbar .container-fluid .navbar-header
{
	 padding-top:20px;
}

.navbar .navbar-nav>.open>a:focus {
	background-color: #e0ead6;
}

.app-title {
	line-height: normal;
	font-size:1.3em !important;
	display:table-cell;
	vertical-align: middle;
}

.app-title span {
	padding-left:5px;
	font-size:0.5em !important;
}

/* bootstrap dialogs */
.bootstrap-dialog .modal-header.bootstrap-dialog-draggable {
	cursor: move;
}

.bootstrap-dialog-title
{
	font-size:1.28rem !important;
}

.bootstrap-dialog-message
{
	font-size:1.2rem !important;
}


.panel-title{
    font-size: 15px;
}

.btn {
    margin:0;
    padding: 3px;
    line-height: 1;
    min-width: 100px;
}

.btn-danger-assinar {
    width: 250px;
    font-size: 18px;
}

#btnAssinar
{
    font-size:1.2rem !important;
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
		padding-top: 120px !important;
		font-size: 12px !important;
		/*background-color: blue;*/
	}
	.app-title{
		line-height: 20px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	body {
		font-size: 10px !important;
		padding-top: 30px !important;
	}
	.app-title{
		line-height: 15px;
		font-size:0.6rem !important
	}
	.app-navbar {
		min-height: 20px !important;
	}
	.app-navbar .container-fluid {
		height: auto;
	}
	.app-navbar .container-fluid .navbar-header {
		padding-top: 3px;
	}

    .panel-title{
        font-size: 6px;
    }

    .btn {
        font-size:6px;
        padding:1px 5px;

        min-width: 20px;
        margin:0;
    }

    .btn-danger-assinar {
        width: 100px;
    }

}

