/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*

* -------------- FONTE OPEN SANS REGULAR
*= require fonts.css

* -------------- PLUGINS EM TESTE -----------------------
*  require introjs/introjs.min.css
*  require enjoyhint/enjoyhint.css


* ------------------------- DATATABLES ------------------
*= require jquery/plugins/datatables/datatables.min
*= require jquery/plugins/datatables/dataTables.searchHighlight.min

* -------------- PLUGINS  -----------------------
*= require jquery/plugins/msg/msg.min
*= require jquery/plugins/growl/growl.min
*= require jquery/plugins/tooltipster/tooltipster.bundle.min
*  require jquery/plugins/tooltipster/themes/tooltipster-sideTip-light.min // tema light
*  require jquery/plugins/tooltipster/themes/tooltipster-sideTip-green.min // tema green
*= require jquery/plugins/tooltipster/themes/tooltipster-sideTip-yellow.min // tema yellow
*= require jquery/plugins/tooltipster/themes/tooltipster-sideTip-error.min // tema error
*= require jquery/plugins/select2/select2.min
*= require gijgo/dialog/css/dialog.min
*= require jquery/plugins/select2/select2-bootstrap.min
*= require jquery/plugins/fileinput/fileinput.min

* jsPanel 3.7
*= require jquery/plugins/jsPanel/jquery.jspanel.min.css

* ----------- openlayers ---------------------------
*= require openlayers/ol.min
*= require openlayers/ol3-contextmenu.min
*= require openlayers/ol-geocoder.min
*= require openlayers/ol3Map

* -------------- CSS PARA FANCYTREE ---------------
*=require fancytree/jquery-ui/jquery-ui.min
*=require fancytree/skin-win7/ui.fancytree.min
* require fancytree/jquery.contextMenu.min
*= require jquery/plugins/contextmenu/jquery.contextMenu.min



* -------------- BOOTSTRAP -----------------------
*= require bootstrap/v336/css/bootstrap.min
*= require bootstrap/plugins/dialog/dialog.min
*= require bootstrap/plugins/multiselect/bootstrap-multiselect.min

* integração com SIS/IUCN
* -------------- TRADUCAO -----------------------
*= require traducao.css
*= require login.css
*= require_self
*/

html {
    background-color: #f4f8f4;
    /*background: url('../images/wallpapers/passaro1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
    background-attachment: fixed;
    /*background: url('../images/wallpapers/bg2.jpg' );*/
    /*background: url('../images/wallpapers/bg3.png');*/
    /*background: url('../images/wallpapers/bg4.gif');*/
    /*background-image: url("../images/wallpapers/bg5.png");*/
    /*background-image: url("../images/wallpapers/bg6.jpg");*/
    /*background-repeat: no-repeat;*/
    /*min-height: 100%;
   background: url(../images/wallpapers/bg2.jpg);
   background-size: 100% 100%;
   background-repeat: no-repeat;
   */
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    padding-top: 104px !important;
    font-size: 15px !important;
    /*font-family: "Times New Roman", "Times", "Arial", "Helvetica", "Lato", "Roboto", "sans-serif" !Important;*/
    font-family: "open_sansregular","Times New Roman", "Times", "Arial", "Helvetica", "Lato", "Roboto", "sans-serif" !Important;
    /*font-family: 'Open Sans', 'Times New Roman', 'Times', 'Open Sans', 'sans-serif', 'Arial' !important;*/
    background-color: transparent;
}

* {
    font-size: inherit !important;
    /*font-family: "Times New Roman", "Times", "Arial", "Helvetica", "Lato", "Roboto", "sans-serif"*/
    font-family: "open_sansregular","Times New Roman", "Times", "Arial", "Helvetica", "Lato", "Roboto", "sans-serif"
    /*font-family: 'Open Sans', 'Times New Roman', 'Times', 'sans-serif', 'Arial'*/
}

h1 {
    font-size: 30px !important;
}

h2 {
    font-size: 28px !important;
}

h3 {
    font-size: 24px !important;
}

h4 {
    font-size: 18px !important;
}

h5 {
    font-size: 14px !important;
}

h6 {
    font-size: 12px !important;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px 1px 5px 1px;
}

.font-small {
    font-size:85% !important;
}

.ul-none {
    list-style-type: none;
    padding-left: 0px;
}

.ul-ref-bibs {
    list-style-type: none;
}
/* utilizado pelo plugin jquery.hightlight */
.highlight { background-color: yellow }

div#divNmCientifico {
    min-width: 290px;
    background-color: #efefef;
}

div#divAppLoading {
    /*min-height: 100vh;*/
   /*background-color: #d2dfc5;*/
    /*padding-top: 35vh;*/
    /*padding-top: 20vh;*/
}
div#divAppLoading img {
    max-width: 80%;
}

div.filtros-ficha {
    background-color: #d6d6e9;
    padding:5px;
}


.legendLinha {
    height: 10px;
}

/* labels */

label {
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
    font-size: 1em !important;
    font-weight: normal !important;
}

.end-page {
    min-height: 200px;
    background-color: transparent;
}

.label-grande {
    font-weight: bold !important;
    font-size: 18px !important;
}

.label-medio {
    font-weight: bold !important;
    font-size: 16px !important;
}

.label-selected {
    /*background-color: #dee6de;*/
    color: #70a04b;
    line-height: 1;
    border-radius: 5px;
    text-decoration: underline;
}

.form-inline .control-label .control-label{
    margin:0px;
    padding: 0px;
    padding-right: 20px;
    vertical-align: initial;
}

.label-help {
    cursor: pointer;
    color: #B5B3B3;
}

.label-badge {
    margin-top: -20px !important;
    margin-left: 10px !important;
}

#li-menu-workers .badge {
    background-color: #70a04b !important;
    color: #000;
}

#li-menu-user-jobs .badge {
    background-color: #70a04b !important;
    color: #fff;
}

.control-label {
    font-weight: normal !important;
}

div.controls.readonly {
    border: 1px solid silver;
    padding: 2.5px 5px 2.5px 5px;
}

.elipse {
    max-width: 350px;
}

.elipse * {
    font-size: inherit !important;
    line-height: normal !important;
}

.elipse a {
    cursor: pointer;
    text-decoration: none;
    /*font-size:1.5em;*/
    color: #808080;
    margin-left: 5px;
}

p.elipse {
    margin:0;
    padding:0;
    white-space: normal;
    text-align: justify;
}

.check-all {}

a {
    outline: 0 !important;
}


/*CSS elementos da aplicação*/

.appDivContent {
    position: relative;
}

.lazy-load {
    display: none;
}


/*CSS Bottstrap*/

.panel {
    opacity: 0.93;
}

.panel-heading * {
    font-size: 18px !important;
}

.panel-heading {
    padding: 5px;
    font-size: 18px !important;
    font-weight: bold;
    color: #000 !important;
    background-color: #b8ffcd;
    background-color: #d3e0c6;
    background-image: -moz-linear-gradient(top, #dfe9d5, #c1d2b0);
    background-image: -ms-linear-gradient(top, #dfe9d5, #c1d2b0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfe9d5), to(#c1d2b0));
    background-image: -webkit-linear-gradient(top, #dfe9d5, #c1d2b0);
    background-image: -o-linear-gradient(top, #dfe9d5, #c1d2b0);
    background-image: linear-gradient(top, #dfe9d5, #c1d2b0);
    background-repeat: repeat-x;
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dfe9d5', endColorstr='#c1d2b0', GradientType=0);*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.panel-heading * {
    font-size: inherit !important;
}

.sub-panel-heading {
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #d7d7d7, #fff);
    background-image: -ms-linear-gradient(top, #d7d7d7, #fff);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d7d7d7), to(#fff));
    background-image: -webkit-linear-gradient(top, #d7d7d7, #fff);
    background-image: -o-linear-gradient(top, #d7d7d7, #fff);
    background-image: linear-gradient(top, #d7d7d7, #fff);
    background-repeat: repeat-x;
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d7d7d7', endColorstr='#fff', GradientType=0);*/
}

.btn * {
    font-size: 14px !important;
}

.btn {
    font-size: 14px !important;
}

.btn-xs {
    padding-top: 2px;
}

.btn-editor {
    margin:0;
    margin-top: -6px;
    padding: 0px 7px;
    background-color: #d3e0c6;
}

.btn-editor:hover {
    background-color: #badeae;
}

.panel-heading a,
button.pull-right {
    border-radius: 7px;
    margin-top: -1px;
}

button,
select {
    cursor: pointer;
}

a.disabled, button.disabled {
    cursor: not-allowed !important;
}

.btn[disabled] {
    cursor: not-allowed !important;
}

option {
    cursor: pointer;
    background-color: #efefef;
}

.panel-body {
    padding: 5px;
}

.panel-footer {
    margin-top: 5px;
    padding: 5px;
}

.navbar * {
    font-size: inherit !important;
}

.navbar {
    font-size: inherit !important;
    min-height: 30px !important;
    background-color: #d3e0c6;
    background-image: -moz-linear-gradient(top, #dfe9d5, #c1d2b0);
    background-image: -ms-linear-gradient(top, #dfe9d5, #c1d2b0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfe9d5), to(#c1d2b0));
    background-image: -webkit-linear-gradient(top, #dfe9d5, #c1d2b0);
    background-image: -o-linear-gradient(top, #dfe9d5, #c1d2b0);
    background-image: linear-gradient(top, #dfe9d5, #c1d2b0);
    background-repeat: repeat-x;
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dfe9d5', endColorstr='#c1d2b0', GradientType=0);*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1) !important;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1) !important;
}

.navbar * {
    /*font-size: 16px !important;*/
    /* open sans 15px */
    font-size: 15px !important;
}

.navbar {
    /* open sans */
    font-size: 15px !important;
}

.navbar .navbar-nav>li>a {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 30px;
}

.navbar .nav>li>a {
    color: #000;
    text-decoration: none;
}

.navbar .nav>li>a:hover {
    background-color: #e0ead6;
    /*background-color: #629b2a;*/
    text-decoration: none;
}

.navbar .dropdown-menu li>a:hover {
    background-color: #c6d3ba !important;
    color:#000 !important;
}

.app-navbar {
    min-height: 70px !important;
}

.app-navbar .container-fluid {
    display: table;
    width: 100%;
    width: 100%;
    height: 60px;
}

.app-navbar .container-fluid .navbar-header {
    padding-top: 10px;
}

.dropdown-menu li>a:hover,
.dropdown-menu .active>a,
.dropdown-menu .active>a:hover {
    color: #000;
    text-decoration: none;
    background-color: #e0ead6;
}

.navbar .navbar-nav>.open>a:focus {
    background-color: #e0ead6;
}

.link-sicae {
    height: 68px;
    font-size: 68px;
    padding-top: 24px !important;
    color: #096609;
}

/* Alinhar div na tela */
.vertical-center {
    min-height: 80%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    background-color: transparent;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.horizontal-center {
    display: flex;
    background-color: transparent;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.hr-login {
    margin:0;padding:0;
    border-color:#08f80c;
}

.hr-separador {
    margin: 5px;
    border-top: 1px dashed #c2cac4;
}

.hr-separatos-acoes-lote {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid darkblue;
}

.h-topic {
    margin: 5px 0px 0px 0px;
    font-weight: normal;
    color: #6488d7;
    /*border-bottom: 1px dashed #c2cac4;*/
}


/** css Bootstrap wel */

.modal-header * {
    font-size: 17px !important;
}

.modal-header {
    font-size: 17px !important;
}

div.modal-header button.close span {
    font-size: 28px !important;
    color: red !important;
    font-weight: bold !important;
}

.well {
    padding: 7px 5px 7px 5px;
}

.well-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.well-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.well-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

div.progress{
    margin-bottom: 1px;
}

.progress-andamento {
    font-size: 70% !important;
}

.progress-bar-success-dark {
    background-color: #3c763d;
}

.well-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.well-primary {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


/*gijgo dialog*/

.modal-header {
    text-align: left;
    color: #000;
    font-weight: bold;
}


/*Css Bootstrap Dialogs*/

.modal-bootstrap {
    z-index: 1060 !important;
}

.bootstrap-dialog * {
    font-size: 14px !important;
}

.bootstrap-dialog {
    margin-top: 90px;
    font-size: 14px !important;
}
.bootstrap-dialog-body {
    margin-top:10px;
}

.bootstrap-dialog-message * {
    font-size: 19px !important;
}

.bootstrap-dialog-message {
    font-size: 19px !important;
    line-height: 30px;
}

.bootstrap-dialog-message button {
    font-size: 14px !important;
}

.bootstrap-dialog-message h3 {
    margin:0px;
    margin-bottom: 10px;
}

.bootstrap-dialog-message label {
    padding:1px;
}

.bootstrap-dialog-message a {
    font-size: 14px !important;
}

.bootstrap-dialog-message li {
    line-height: 20px;
}

.bootstrap-dialog-title * {
    font-size: 19px !important;
}

.bootstrap-dialog-title {
    font-size: 19px !important;
    font-weight: bold;
}

.bootstrap-dialog-footer-buttons .btn {
    min-width: 100px !important;
}
div.divConcordarPoliticaDados {
    line-height: 20px;
}

/* Janelas jsPanel */

.jsPanel {
    z-index: 1050 !important;
    font-family: inherit !important;
}

.jsPanel * {
    font-family: open_sansregular;
    /*font-family: inherit !important;*/
    /*font-size:inherit !important;*/
}

.jsPanel .glyphicon {
    font-family: Glyphicons Halflings !important;
}

.jsPanel .fa {
    font-family: FontAwesome !important;
}

.jsPanel-title * {
    /*font-size: 15px !important;*/
    font-variant: none !important;
}

.jsPanel-modal-backdrop {
    z-index: 1049 !important;
}

.jsPanel-content {
    overflow-y: auto !important;
}


/*css bootstrap Nav Tabs  */

.subTabs10 {
    min-height: 400px;
}


/* tabs */

.tab-cinza {
    background-color: #D7D7D7 !important;
}

.tab-amarela-clara {
    background-color: #fbf8de !important;
}

.nav-tabs>li {
    margin-top: 4px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
    background-color: #AED8AE !important;
    color: #000;
    font-weight: bold;
    border-top:2px solid #0a990a;
}

.nav-tabs>li.active.changed>a,
.nav-tabs>li.active.changed>a:focus {
    background-color: #ffc1c1 !important;
    color: #000;
    font-weight: bold;
}

.nav-tabs>li>a {
    color: #000;
    border: 1px solid #bfbfbf;
    border-top:2px solid orange;
    border-top-right-radius: 20px;
}

.nav-tabs>li.changed>a {
    color: #f00;
    border: 1px solid #bfbfbf;
    border-top:2px solid #bd0101;
    border-top-right-radius: 20px;
}

.nav-tabs>li>a:hover {
    /*background-color: #c0c0c0;*/
    background-color: #D2E9D2 !important;
    transition: background-color 0.4s;
    border-top:2px solid #0a990a !important;
    border-top-right-radius: 20px !important;
}

.nav-tabs>li.active>a:hover {
    color: #000;
}


/** sub abas */

.nav-sub-tabs>li>a {
    background-color: #F5EFEF !important;
    font-size: 0.9em;
    color: #008;
}

.nav-sub-tabs>li.active>a,
.nav-sub-tabs>li.active>a:focus {
    background-color: #FFB732!important;
    color: #000;
    font-weight: bold;
    border-top:2px solid #fbb405;
    border-top-right-radius: 20px;
}

.nav-sub-tabs>li>a:hover {
    /*background-color: #c0c0c0;*/
    background-color: #F5CB93 !important;
    transition: background-color 0.4s;
    border-top:2px solid #fbb405;
    border-top-right-radius: 20px;
}


/** nav pills */

.nav-pills>li a {
    border-top-right-radius: 20px;
}

.nav-pills>li.changed>a {
    color: #ff5858;
}

.nav-pills>li.active a {
    background-color: #337ab7 !important;
    transition: background-color 0.4s;
    border-top-right-radius: 20px;
}

.nav-pills>li.active.changed>a {
    background-color: #ffc1c1 !important;
    color: #000;
}

.nav-pills>li.active>a:hover {
    background-color: #337ab7 !important;
    transition: background-color 0.4s;
}

.nav-pills>li>a:hover {
    background-color: #D4DCE3 !important;
    transition: background-color 0.4s;
}


/*https://codepen.io/dimbslmh/full/mKfCc*/


/*Bootstrap Modal */

.modal {
    text-align: center;
    padding: 0 !important;
    z-index: 10001 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-dialog div.progress {
    height:25px;
}
.modal-dialog div.progress div.progress-bar {
    line-height: 22px;
}

fieldset form {
    background-color: #f0f1ff;
}

fieldset>legend {
    font-size: 1.3em !important;
    border-bottom: 2px solid #91d5b9;
    margin-bottom: 5px;
}

fieldset>legend.border-red {
    font-size: 1.3em !important;
    border-bottom: 2px solid #DD7876;
    margin-bottom: 5px;
}


/* jquery validate */

.error {
    color: red;
    border-color: red;
}

.error:focus {
    color: red;
    border-color: red;
}

.valid {
    border-color: #069D61;
    color: #000;
}

/* grid */
.grid-long-text {
    white-space:normal;
    text-align:left;
    height:auto;
    max-width:300px;
    max-height:600px;
    overflow:auto;
    border:none;
    padding:8px;
}
.grid-long-text-justify {
    white-space:normal;
    text-align:justify;
    height:auto;
    max-width:300px;
    max-height:600px;
    overflow:auto;
    border:none;
    padding:8px;
}

/* glyphIcons dos grides*/

.glyphicon {
    color: #79a657;
}

td .glyphicon {
    color: #79a657;
}

.glyphicon-tags {
    /*color: #cd1214;*/
}

.fa-book,
.fa-file-zip-o,
.fa-map {
    color: #108610;
}
.fa-book:hover{
    color: #68c600;
    font-size: 18px !important;
}

.fa-filter.changed {
  color: #ffc1c1 !important;
}

.book-svg {
    width: 16px;
    height: 16px;
    background: url("/salve-estadual/assets/book.svg") no-repeat top left;
    background-size: 16px 16px;
}

tbody .glyphicon-pencil,
.glyphicon-zoom-in {
    color: #4AA80F !important;
}

tbody .glyphicon-remove {
    color: #D30707 !important;
}

tbody .glyphicon-remove.disabled {
    color: #F1B7B7 !important;
}

tbody .glyphicon-remove:disabled {
    color: #8d8d8d !important;
}

tbody .glyphicon-download-alt.disabled {
    color: #8d8d8d !important;
}
tbody .glyphicon-download-alt:disabled {
    color: #8d8d8d !important;
}

tbody .glyphicon-pencil.disabled {
    color: #8d8d8d !important;
}
tbody .glyphicon-pencil:disabled {
    color: #8d8d8d !important;
}

.option-group {
    font-weight: bold;
}


/* Campos e labels dos Formularios */

.subLabel {
    padding: 0px;
    margin: 0px;
    text-align: right;
    margin-top: 7px;
}

.form-control {
    font-size: inherit !important;
    color:#080808;
    padding:1px 5px;
}

.select-data-table {
    font-size: 14px !important;
    color: #000;
    padding: 2px;
    padding-top: 3px;
    height: 25px !important;
    opacity: 0.6;
    border-radius: 5px;
}

select.form-control,
input.form-control {
    height: 31px !important;
}
.input-bold-blue {
    font-weight: bold;
    color: #0000ff;
}

.fldSelect {
    /*font-size:15px !important;*/
    color: #000;
    /*padding: 2px;
    padding-top: 2px;*/
}

.fldSelect-thin {
    font-size: 14px !important;
    color: #000;
    padding: 2px;
    padding-top: 3px;
    height: 25px !important;
}

.select-consulta {
    width:auto;
    min-width:500px;
    max-width:97vw !important;
}

/*nav a.page-link-current-page {
    background-color: #d4e0c7;
}*/

.fldDate {
    max-width: 110px;
}

.fldCoordenada {
    /*font-size:1.5em;*/
    font-weight: bold;
    color: #0D76E5;
}

.span-nu-doi {
    font-size: 1.2rem !important;
}

.bgCaquiBold {
    /*background-color: #f0e68c;*/
    background-color: #e8f6e8;
    /* #a5cca5;*/
    font-weight: bold;
}

.bgSubespecie {
    background-color: #f5f5dc !important;
}

/*Css BlockUi*/


/*.blockOverlay
{
    z-index: 1050 !important;
}
*/


/*Css Glowl*/

.blockPage {
    z-index: 2000 !important;
}


/*div.growlUI {
  background: url(http://jquery.malsup.com/block/check48.png)
  no-repeat 10px 10px
}
div.growlUI h1, div.growlUI h2 {
  color: lightgray;
  padding: 0px 0px 0px 70px;
  text-align: left
}
div.growlUI h1{
    font-size:22px;
}
div.growlUI h2{
    font-size:17px;
}*/


/*Jquery GROWL*/

#growls.tl {
    top: 0px;
}

#growls.tr {
    top: 0px;
}

#growls.tc {
    top: 0px;
}

.growl.growl-info {
    color: #fff;
    background: #1C62B8;
    border: 1px solid #28C2F5;
}

.growl.growl-notice {
    color: #fff;
    background: #1C62B8;
    border: 1px solid #28C2F5;
}

.growl.growl-success {
    color: #FFF;
    background: #418157;
    border: 1px solid #83C79A;
}

.growl.growl-warning {
    color: #FFF;
    background: #E67200;
    border: 1px solid #FAC896;
}

.growl.growl-large {
    width: 600px !important;
}

.growl .growl-message {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}

#imgBrand {
    padding: 0px;
    margin: 0px;
    border: none;
    max-height: 28px;
}

#imgBrand i {
    margin-top: 5px;
}


/* fileInput Plugin */

.file-loading {
    background: url("../images/loading.gif") top left no-repeat;
}

.file-thumb-loading {
    background: url("../images/loading.gif") center center no-repeat content-box !important
}

.file-uploading {
    background: url("../images/spinner.gif") center bottom 10px no-repeat;
    opacity: .65;
}



/* tables */
table {
    background-color: #fff;
    /*font-size:14px !important;*/
    margin-bottom: 0px !important;
}

td {
    vertical-align: middle !important;
}

td.selected {
    background-color: #90ee90;
}

td span.glyphicon-user {
    color: green;
}

th {
    white-space: nowrap;
    padding: 5px;
}

tr.disabled {
    color:gray;
}

.table-topic {
    font-weight: bold;
    font-size:20px; !important;
}
.table-subtopic{
    padding-left: 20px !important;"
}

.table-filter {
    width: 100%;
    display:block;
    border :1px solid #c0c0c0;
    cursor:pointer;
    padding:3px;
    background-color: white;
}

div.floatThead-wrapper i.fa {
    cursor:pointer;
}

select.table-filter {

}

/** css Bootstra tables */

.table-condensed tr,
td {
    padding: 2px !important;
}


/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: yellow;
}
*/

.table-hover tbody tr:hover td {
    background: #ceeaff;
}

th,
thead>tr>td {
    white-space: nowrap;
    padding: 4px !important;
    vertical-align: middle !important;
    text-align: center !important;
    background-color: #d3e0c6;
    background-image: -moz-linear-gradient(top, #dfe9d5, #c1d2b0);
    background-image: -ms-linear-gradient(top, #dfe9d5, #c1d2b0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dfe9d5), to(#c1d2b0));
    background-image: -webkit-linear-gradient(top, #dfe9d5, #c1d2b0);
    background-image: -o-linear-gradient(top, #dfe9d5, #c1d2b0);
    background-image: linear-gradient(top, #dfe9d5, #c1d2b0);
    background-repeat: repeat-x;
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dfe9d5', endColorstr='#c1d2b0', GradientType=0);*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1) !important;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1) !important;
}

.gradientBrown {
    background-color: #d9cac1;
    background-image: -moz-linear-gradient(top, #ffffff, #6b2c038f);
    background-image: -ms-linear-gradient(top, #ffffff, #6b2c038f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#6b2c038f));
    background-image: -webkit-linear-gradient(top, #ffffff, #6b2c038f);
    background-image: -o-linear-gradient(top, #ffffff, #6b2c038f);
    background-image: linear-gradient(top, #ffffff, #6b2c038f);
    background-image: -webkit-linear-gradient(top, #ffffff, #6b2c038f);
    background-repeat: repeat-x;
}

.gradientBlue {
    background-color: #315986a3;
    background-image: -moz-linear-gradient(top, #ffffff, #315986a3);
    background-image: -ms-linear-gradient(top, #ffffff, #315986a3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#315986a3));
    background-image: -webkit-linear-gradient(top, #ffffff, #315986a3);
    background-image: -o-linear-gradient(top, #ffffff, #315986a3);
    background-image: linear-gradient(top, #ffffff, #315986a3);
    background-image: -webkit-linear-gradient(top, #ffffff, #315986a3);
    background-repeat: repeat-x;
}

.td-actions {
    text-align: center;
    white-space: nowrap;
}

.td-align-bottom {
    vertical-align: bottom !important;
}

.td-align-top {
    vertical-align: top !important;
}

.tr-active {
    color: #000;
}

.tr-inactive {
    color: #A29E9E;
}

.tr-selected {
    /*background-color:#7fff00 !important;*/
    background-color: #c9d8f2 !important;
}

.tr-subepecie td {
    background-color: #fffcde !important;
}

.td-subespecie {
    background-color: #fffcde !important;
}

.td-title {
    background-color: #c8d7b8 !important;
    font-size: 19px !important;
    font-weight: bold;
}

/* text decoration */
.text-strike {
    text-decoration: line-through;
}

/* cores */

.white {
    color: #fff !important;
}

.gray {
    color: #808080 !important;
}

.blue {
    color: #0D76E5 !important;
}

.green {
    color: #70a04b !important;
}

.green-dark {
    color: #258e25 !important;
}

.red-dark {
    color: #ff2f2f !important;
}

.red {
    color: #ff5858 !important;
}

.orange {
    color: #FF7400 !important;
}

.brown {
    color: #693103 !important;
}

.black {
    color: #000000 !important;
}

.bgWhite {
    background-color: #fff !important;
}

.bgBlack {
    background-color: #000 !important;
}

.bgBlue {
    background-color: #0303B3 !important;
}

.bgRed {
    background-color: #ff5858 !important;
}

.bgGreen {
    background-color: #70a04b !important;
}

.bgGreenLight {
    background-color: #7fff00 !important;
}

.bgBlueLight {
    background-color: #0051ff !important;
}

.bgOrangeDisabled {
    background-color: #f3c88a !important;
    color: #8b0000;
}

.bgOrange {
    background-color: #f5c667 !important;
    color: #8b0000;
}

.bgOrange a {
    color: #8b0000;
}

.bgRedDisabled {
    background-color: #E79A98 !important;
}

.bold {
    font-weight: bold !important;
}

.boldAzul {
    color: #0D76E5 !important;
    font-weight: bold !important;
    font-size: 1em !important;
}

.fldTextarea {
    border: 1px solid #ABABAB;
    resize: vertical !important;
    overflow: auto !important;
}

.cursor-pointer {
    cursor: pointer !important;
}
.cursor-default {
    cursor: default !important;
}

.modal-body {
    padding: 5px 15px !important;
    background-color: #f0fff0;
}

.taxon-tree li {
    font-size: 14px;
    padding-right: 10px;
}


/* breadcrumb */

.breadcrumb {
    margin-bottom: 5px;
    font-size: 15px;
}

.breadcrumb ol {
    background-color: #cfdce9;
}

.breadcrumb>li+li:before {
    color: #858383;
    content: ">> ";
    padding: 0px 5px;
}

.tab-group {
    margin-top: 5px;
    background-color: lightyellow;
}

.div-area-verde {
    background-color: #EDF1E9;
}

.fs10 {
    font-size: 10px !important;
}
.fs11 {
    font-size: 11px !important;
}
.fs12 {
    font-size: 12px !important;
}
.fs15 {
    font-size: 15px !important;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml12 {
    margin-left: 12px;
}

.ml14 {
    margin-left: 14px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb5 {
    margin-bottom: 5px;
}

.fld20 {
    width: 20px !important;
}

.fld30 {
    width: 30px !important;
}

.fld40 {
    width: 40px !important;
}

.fld50 {
    width: 50px !important;
}

.fld60 {
    width: 60px !important;
}

.fld70 {
    width: 70px !important;
}

.fld80 {
    width: 80px !important;
}

.fld90 {
    width: 90px !important;
}

.fld100 {
    width: 110px !important;
}

.fld110 {
    width: 110px !important;
}

.fld120 {
    width: 120px !important;
}

.fld130 {
    width: 130px !important;
}

.fld140 {
    width: 140px !important;
}

.fld150 {
    width: 150px !important;
}

.fld160 {
    width: 160px !important;
}

.fld170 {
    width: 170px !important;
}

.fld180 {
    width: 180px !important;
}

.fld190 {
    width: 190px !important;
}

.fld200 {
    width: 200px !important;
}

.fld250 {
    width: 250px !important;
}

.fld260 {
    width: 260px !important;
}

.fld270 {
    width: 270px !important;
}

.fld300 {
    width: 300px !important;
}

.fld350 {
    width: 350px !important;
}

.fld400 {
    width: 400px !important;
}

.fld450 {
    width: 450px !important;
}

.fld500 {
    width: 500px !important;
}

.fld600 {
    width: 600px !important;
}

.fld700 {
    width: 700px !important;
}

.fld710 {
    width: 710px !important;
}

.fld720 {
    width: 720px !important;
}

.fld730 {
    width: 730px !important;
}

.fld740 {
    width: 740px !important;
}

.fld750 {
    width: 750px !important;
}

.fld760 {
    width: 760px !important;
}

.fld770 {
    width: 770px !important;
}

.fld780 {
    width: 780px !important;
}

.fld790 {
    width: 790px !important;
}

.fld800 {
    width: 800px !important;
}

.fld800 {
    width: 800px !important;
}

.fld810 {
    width: 810px !important;
}

.fld820 {
    width: 820px !important;
}

.fld830 {
    width: 830px !important;
}

.fld840 {
    width: 840px !important;
}

.fld850 {
    width: 850px !important;
}

.fld860 {
    width: 860px !important;
}

.fld870 {
    width: 870px !important;
}

.fld880 {
    width: 880px !important;
}

.fld890 {
    width: 890px !important;
}

.fld900 {
    width: 900px !important;
}

.w100p {
    width: 100% !important;
}

.w90p {
    width: 90% !important;
}

.w95p {
    width: 95% !important;
}

.btn100 {
    width: 100px !important;
}

.btn150 {
    width: 150px !important;
}

.btn200 {
    width: 200px !important;
}

.div-footer {
    margin-top: 10px;
}

.btn-grid-subform {
    margin-right: 10px;
}

.btn-warning,
.btn-success,
.btn-info,
.progress-bar-warning,
.progress-bar-success,
.progress-bar-info {
    color: #fff;
    font-weight: bold;
}

.btn-danger,
.progress-bar-danger {
    color: #fff;
    font-weight: bold;
}

.btnPdf {
    color: #ff0000 !important;
}

.btnPrint {
    color: #0000ff !important;
}

.tab-footer-fichas p {
    font-size:12px !important;
    margin:0 !important;
}

.tab-pane-fichas {
    border-left: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    margin: 0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.group-header {
    margin: 0px;
    padding: 0px;
    font-size: 1.6em;
    border-bottom: 2px solid #91d5b9;
}

.group-header h3 {
    font-size: 19px !important;
}

.group-header h3, h4 {
    margin-top: 2px;
    margin-bottom: 2px;
}


/* select2 combobox*/
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
    color:#080808;
}

/** Configuração para SELECT2 dos niveis taxonomicos */
#divSearchTaxonTree span.select2-selection__rendered {
    color: #0D76E5;
}

.select2-container {
    z-index:10001 !important;
}

.select2-container--bootstrap .select2-selection {
    line-height: 1.3;
    /*font-size:20px;*/
    font-size: 16px !important;
}

.select2-selection,
.select2-selection__rendered {
    min-height: 31px !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    /*color:#0D76E5 !important;*/
}

.select2-results__options {
    font-size: 16px;
}


/*
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
    padding: 0 5px;
	background: #8fbc8f !important;
}

*/

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice__remove {
    color: #fb0202;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 3px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
    color: #000;
    background: #8fbc8f !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin: 5px 0 0 6px;
    padding: 0 6px;
}

.select2-results__options {
    min-height: 200px !important;
}

.nowrap {
    white-space: nowrap;
}

.wrap {
    white-space: normal !important;
}

.vaTop {
    vertical-align: top !important;
}

.macho {
    background-color: #D7F7FF;
}

.femea {
    background-color: #FFE2F8;
}

.rowSelected {
    background-color: #F5ED86 !important;
}

.rowSelected :hover {
    background-color: #F5ED86 !important;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.tag {
    background-color: #ceddce;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    margin-top: 2px;
    padding: 3px 5px;
    font-size: 1.5em;
    color: #010412;
    font-weight: normal;
}

.cursor-pointer {
    cursor: pointer;
}

.marker-pin {
    width: 16px;
    height: 20px;
}


/*MAPA não funcionou o fullscreen */

.map {
    margin-top: 5px;
    height: 600px;
    border: none;
}


/* mozilla */

.map:-moz-full-screen {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
}


/* crhome */

.map:-webkit-full-screen {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
}


/*
.map:-ms-fullscreen {
	height: 100%;
	width: 100%;
}
*/

.map:fullscreen {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important
}

.ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
}

.modal-body {
    overflow-y: auto !important;
}


/* css utilizado na treview - dados apoio */

.treeTable {
    table-layout: fixed;
}

.treeTable {
    table-layout: fixed;
    font-color: #000 !important;
}


/*
.treeTable tr td:nth-of-type(1) {
	text-align: right;
}
.treeTable tr td:nth-of-type(2) {
	text-align: center;
}
.treeTable tr td:nth-of-type(3) {
	min-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
*/

.treeTable input {
    color: #000 !important;
}

.ui-menu {
    width: 250px;
    font-size: 95%;
}

.ui-menu kbd {
    float: right;
}

.draggable,
.droppable {
    border: 1px solid green;
    padding: 3px;
    background-color: silver;
}

.fancytree-node {
    padding-top: 5px;
}

.fancytree-checkbox {
    cursor: pointer;
}

.ui-fancytree .fancytree-container .fancytree-plain .fancytree-ext-wide {
    border: none !important;
}

span.fancytree-selected .fancytree-title {
    font-style: normal;
    color: #0000ff;
    background: -moz-linear-gradient(top, #f2f9fd 0%, #86c18e 100%);
    background: -webkit-linear-gradient(top, #f2f9fd 0%, #86c18e 100%);
    background: -o-linear-gradient(top, #f2f9fd 0%, #86c18e 100%);
    background: -ms-linear-gradient(top, #f2f9fd 0%, #86c18e 100%);
    background: linear-gradient(to bottom, #f2f9fd 0%, #86c18e 100%);
}


/* Prevent scrolling while DND */

ul.fancytree-container {
    position: inherit;
}

span.pending span.fancytree-title {
    /*font-style: italic;*/
}

span.pending span.fancytree-title:after {
    content: "\2026";
    /* ellipsis */
}

table.fancytree-ext-table tbody tr.fancytree-selected {
    background: -moz-linear-gradient(top, #f6fbfd 0%, #a5d184 100%);
    background: -o-linear-gradient(top, #f6fbfd 0%, #a5d184 100%);
    background: -ms-linear-gradient(top, #f6fbfd 0%, #a5d184 100%);
    background: linear-gradient(to bottom, #f6fbfd 0%, #a5d184 100%);
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f6fbfd', endColorstr='#a5d184', GradientType=0);*/
    outline: none;
}

table.fancytree-ext-table tbody tr.fancytree-active,
table.fancytree-ext-table tbody tr.fancytree-selected {
    background: -moz-linear-gradient(top, #f6fbfd 0%, #a5d184 100%);
    background: -o-linear-gradient(top, #f6fbfd 0%, #a5d184 100%);
    background: -ms-linear-gradient(top, #f6fbfd 0%, #a5d184 100%);
    background: linear-gradient(to bottom, #f6fbfd 0%, #a5d184 100%);
    /*filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f6fbfd', endColorstr='#a5d184', GradientType=0);*/
    outline: none;
}

/* fim css tree view */


/* magnific pop-up */

.mfp-bg {
    background: #51655b;
    opacity: 0.8;
}

.gj-close {
    margin-top: -12px;
}

.img-preview {
    cursor: pointer;
}

.img-preview-grid {
    cursor: pointer;
    max-width: 66px;
    max-height: 50px;
    overflow: auto;
}

.app-title {
    line-height: normal;
    font-size: 1.3em !important;
    display: table-cell;
    vertical-align: middle;
}

.app-title span {
    padding-left: 5px;
    font-size: 0.5em !important;
}

input[type="checkbox"] {
    cursor: pointer;
    transform: scale(1.1);
    /*text-transform: scale(1.1);*/
}

input[type="radio"] {
    cursor: pointer;
    transform: scale(1.1);
    /*text-transform: scale(1.1);*/
}

.checkbox-lg {
    transform: scale(1.5) !important;
    /*text-transform: scale(1.5) !important;*/
    margin-left: 5px !important;
    margin-right: 7px !important;
}

.radio-lg {
    transform: scale(1.5) !important;
    /*!*text-transform: scale(1.5) !important;*!*/
    margin-left: 10px;
    margin-right: 10px;
}

.label-required:after {
    color: red !important;
    content: "*";
    padding: 0px 5px;
}

.label-bold {
    font-weight: bold !important;
}

i.inline-edit{
    cursor: pointer;
    color:blue;
}
/* mapas openlayers */

.ol-control-box {
    box-shadow: 0px 1px 7px 3px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px 1px 7px 3px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 1px 7px 3px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 7px 3px rgba(255, 255, 255, 0.5);
    z-index: 2;
    background-color: rgba(0, 60, 136, 0.4);
    color: #fff;
    border-radius: 4px;
}

.ol-mouse-position {
    top: 12px;
    bottom: auto;
    left: auto;
    right: 47px;
    background-color: rgba(0, 60, 136, 0.4);
    color: #fff;
    padding-top: 4px;
    min-width: 140px;
    height: 25px;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    -webkit-box-shadow: 0px 1px 7px 3px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 1px 7px 3px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 7px 3px rgba(255, 255, 255, 0.5);
}

#layers {
    position: absolute;
    padding: 10px 10px;
    /*font-size: 12px;*/
    right: 10px;
    top: 45px;
    margin: 0px;
}

#layers>ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.point-popup {
    min-width: 300px;
    width: auto;
    /*font-size: 13px;*/
    position: absolute;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: 40px;
    left: auto;
    right: 8px;
    top: auto;
}

.ol-custom-overviewmap:not(.ol-collapsed) {
    border: 1px solid black;
}

.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 200px;
}

.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button {
    bottom: auto;
    left: auto;
    right: 1px;
    top: 1px;
    background-color: rgba(0, 60, 136, 0.4);
}

.ol-overviewmap-map #layers {
    display: none;
}


/* pagination */
.pagination {
    margin: 0px !important;
    padding-top: 7px !important;
}

.pagination-select {
    /*padding: 0px;
    margin: 0px;
    margin-left: -1px;
    min-width: 50px;
    height: 35px;
    background-color: white;
    border: 1px solid #dedede;
    border-radius: 3px;
    color: #4b88be;*/
    min-width: 65px;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    /*background-color: #d4e0c7;*/
    color: #4b88be;
    font-weight: bold;
}
.page-total-records a {
    color:#000 !important;
}

/* css FICHA COMPLETA */


/*#container-ficha-completa .panel-heading * {
	font-size: 18px !important;
}
*/

#container-ficha-completa {
    background-color: #d6d6e9;
}

#container-ficha-completa .panel-heading {
    background-image: none !important;
    /*font-size:1.4em !important;*/
    color: #038310 !important;
    font-weight: bold;
}

#container-ficha-completa .panel {
    /*font-size:14px;*/
}

#container-ficha-completa .panel-colaboracao {
    /*font-size:14px;*/
}

#container-ficha-completa .panel-colaboracao .panel-heading {
    background-image: none !important;
    background-color: #ffffff !important;
    color: #000000 !important;
    /*font-size:1.2em !important;*/
    font-weight: bold;
}

#container-ficha-completa th {
    background-color: #c7ecb8 !important;
}

#container-ficha-completa #divBreadcrumb {
    /*font-size:1.5em;*/
}

#container-ficha-completa .breadcrumb {
    color: #1779ba;
}

#container-ficha-completa .div-pagination {
    padding:5px;
    margin-bottom: 5px;
    font-size:14px !important;
}

#container-ficha-completa .div-pagination select {
    font-width: bold !important;
    color: #1779ba !important;
}

#container-ficha-completa .breadcrumb>li+li:before {
    color: #afafaf;
    content: "/ ";
    padding: 0px 5px;
}

#container-ficha-colaboracoes .panel-heading {
    background-image: none !important;
    /*font-size:2.3em !important;*/
    color: #038310 !important;
    font-weight: bold;
}

#container-ficha-colaboracoes .panel {
    /*font-size:14px;*/
}

#container-ficha-colaboracoes .panel-colaboracao {
    /*font-size:14px;*/
}

#container-ficha-colaboracoes .panel-colaboracao .panel-heading {
    background-image: none !important;
    background-color: #ffffff !important;
    color: #000000 !important;
    /*font-size:1.2em !important;*/
    font-weight: bold;
}

#container-ficha-colaboracoes th {
    background-color: #c7ecb8 !important;
}

#container-ficha-colaboracoes #divBreadcrumb {
    /*font-size:1.5em;*/
}

#container-ficha-colaboracoes .breadcrumb {
    color: #1779ba;
}

#container-ficha-colaboracoes .breadcrumb>li+li:before {
    color: #afafaf;
    content: "/ ";
    padding: 0px 5px;
}

.taxonomia-nivel {
    font-size: 14px !important;
}

.taxonomia-nivel .nivel {
    width: 118px;
    display: inline-block;
    background-color: #f0f8ff;
}

.taxonomia-nivel .nome {
    font-weight: bold;
    display: inline-block;
}

.div-question {
    /*font-size:14px !important;*/
    min-width: 75px;
    white-space: nowrap;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.div-answer {
    /*font-size:14px;*/
    font-weight: normal;
    width: auto;
    display: inline-block;
}

.texto * {
    font-size: 14pt !important;
    font-family: inherit !important;
    text-align: justify !important;
}

.table-colaboracao {
    /*font-size:14px !important;*/
}

#container-ficha-colaboracoes .table-colaboracao th {
    background-image: none !important;
    background-color: #e8e8e8 !important;
}

#container-ficha-colaboracoes .inline-editor {
    height: auto;
    background-color: #ffffff;
    border: none;
    overflow-y: auto;
}

.colaboracao-nao-avaliada {
    color: #F6492F !important;
    cursor: pointer;
}

.colaboracao-avaliada {
    color: #0BA71C !important;
    cursor: pointer;
}

#container-ficha-colaboracoes .td-ref-bib {
    /*font-size:16px;*/
    border-bottom: 1px dashed blue;
    color: #000000;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0px;
}


/* JPANEL */

.jsPanel-title {
    /*font-size:1.5em !important;*/
    /*font-family: "Times New Roman", "Times", "Arial", "Helvetica", "Lato", "Roboto", "sans-serif" !important;*/
    font-family: "open_sansregular", "Times", "Arial", "Helvetica", "Lato", "Roboto", "sans-serif" !important;
    font-weight: bold !important;
}

.jsPanel-titlebar .fa {
    font: normal normal normal 25px/1 FontAwesome !important;
}

.td-texto {
    padding: 5px 10px;
}

.td-texto:hover {
    background-color: #ffffff;
}

.div-justificativa {
    max-height: 200px;
    overflow-y: auto;
}

.div-justificativa-log {
    font-size: 16px !important;
    margin: 10px 0px;
}

.grid-col-long-text {
    max-height: 300px;
    overflow: hidden;
    overflow-y:auto;
    padding-right: 10px;
}

/* situações das fichas */

.ficha-consolidada {
    background-color: #e1f3e9 !important;
}


/* editor mce */

.mce-i-selectall:before {
    content: "\e026" !important;
}

.mce-ico {
    width: 14px !important;
    height: 16px !important;
}

/*.mce-content-body {
    font-size: 14px !important;
}
*/

div.mce-fullscreen {
    margin-top: 100px !important;
    /* não sobrepor o cabecalho e menu*/
    z-index: 2000 !important;
}


/* indicar que existe filtro ativo no grid de fichas */

.filtered {
    background-color: #e4b3b3 !important;
}

.filtered-green {
    background-color: #c4fcb5 !important;
    color: #000080;
}


/** chat */

.chat {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #e1ece1;
}

.chat b {
    font-size: 14px !important;
}

.chat p {
    border: 1px solid #006a00;
    padding: 5px 10px;
    width: 70%;
    border-radius: 10px;
    max-height: 300px;
    overflow-y: auto;
    line-height: 18px;
    text-align: justify;
    background-color: #fff;
}

.chat-left {
    text-align: justify;
    margin-right: 70%;
    text-align: left;
    color: #000;
    max-width: 510px;
}

.chat-right {
    text-align: justify;
    margin-left: 30%;
    text-align: left;
    color: #000;
    max-width: 510px;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    background-color: #c1fdb0 !important;
    color: blue;
}

.btn-info-filtro {
    color: #000;
    background-color: transparent;
    border: none;
}


/*
ver exemplo de botao para voltar ao inicio da página em https://mobaxterm.mobatek.net/#
.sticky-btns{position:fixed;z-index:50;right:-48px;bottom:10px;-webkit-transition:right .3s ease;-moz-transition:right .3s ease;transition:right .3s ease}.sticky-btns.scrolled{right:3px}.sticky-btns span{display:block;float:left;width:42px;height:42px;text-align:center;font-size:1.25em;color:#fff;background:#ff712c;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;padding-top:6px;margin:0 5px;cursor:pointer;-webkit-transition:background .3s ease;-moz-transition:background .3s ease;transition:background .3s ease}.sticky-btns span:hover{background:#f85100}.sticky-btns span#scrollTop-btn{padding-top:5px}.sticky-btns:after{visibility:hidden;display:block;content:"";clear:both;height:0}
*/


/* ol overlay */

.ol-overlay-container {
    z-index: 1;
}


/* ol-context-menu */

.ol-ctx-menu-container {
    /*font-size: 1.5rem;*/
    z-index: 1;
}

.ol-ctx-menu-container li:not(.ol-ctx-menu-separator):hover {
    cursor: pointer;
    background-color: #c4d6e6;
    color: #000;
    border-radius: 4px;
}

.tooltip * {
    font-size: 12px !important;
}

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px !important;
}

.tooltip .copy {
    color: #fff;
    margin-left: 10px;
    font-size: 13px !important;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}
.alert {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-warning .orange {
    background-color: orange;
}

.navbar-collapse {
    /*font-size:1.8rem !important;*/
}


/* geocoder */

.ol-geocoder.gcd-gl-container {
    top: 17.3em;
}

.gcd-address,
.gcd-road {
    line-height: normal;
}

.ol-geocoder .gcd-gl-expanded {
    width: 24.625em;
}

.ol-geocoder .gcd-gl-input {
    width: 90%;
}

.fa-commenting-o {
    color: #00950e;
    cursor: pointer;
}

.autores-ellipses{
    /*color: #1010fb;*/
    color: inherit !important;
}

/* datatables */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    /*bottom: 32px !important;*/
    top: 1px;
    /*position: absolute;
	right: 8px;
	display: block;
	font-family: 'Glyphicons Halflings';
	opacity: 0.5;
	*/
}

table.dataTable thead .sorting:after {
    max-height: 30px !important;
}

table.dataTable thead .sorting_asc:after {
    max-height: 30px !important;
}

table.dataTable thead .sorting_desc:after {
    max-height: 30px !important;
}

div.datatable-title {
    padding: 0px !important;
    margin: 0px !important;
    line-height: normal;
    padding-top: 14px !important;
    font-size: 22px !important;
}

div.dt-buttons {
    margin-bottom: -67px;
}

div.dt-buttons button {
    margin-right: 5px!important;
}

div.dt-title {
    padding: 0px !important;
    margin: 0px !important;
    position: relative;
    top: 20px;
    font-size: 19px !important;
}

div.dataTables_processing {
    background-color: #0B6C33;
    color: #fff;
    font-weight: bold;
}

.dropdown-menu {
    min-width: 80px;
    z-index:1010;
    background-color: #f2f4f1 !important;
}

.dropdown-menu>li>a {
    text-align: left !important;
    text-align: -webkit-left !important;
    text-align: -moz-left !important;
}

#btnAlterarTaxon {
    background-color: #cddabf;
    border: 1px solid #7d9782;
    color: #171717;
}

.btn-group .dropdown-menu>li>a {
    text-align: left !important;
    text-align: -webkit-left !important;
    text-align: -moz-left !important;
    background-color: #fff !important;
    color: #000 !important;
    border: none !important;
}

.btn-group .dropdown-menu>li>a:hover {
    /*background-color: #c9d8f2 !important;*/
    background-color: #cedcc1 !important;
    color: #000 !important;
}

span.btn-group-sm button {
    padding: 4px 8px !important;
}

/*.dropdown-toggle b.caret {*/

button.dropdown-toggle>b.caret {
    float: right;
}

.multiselect {
    max-height: 30px;
    min-width: 80px;
    max-width: 95%;
}

.multiselect-container {
    /*position:relative;*/
}

/*.multiselect-container-absolute {
	position:absolute !important;
	left:0 !important;
	top:29px !important;
}
*/

ul.multiselect-container {
    max-height: 500px;
    overflow-y: auto;
}

li.multiselect-item.multiselect-filter {
    text-align: left !important;
    position: -webkit-sticky; /* Safari */
    position: sticky !important;
    z-index: 2 !important;
    top:0;
    background-color: #efefef;
}

li.multiselect-reset.text-center {

}

li.multiselect-reset {
    position: sticky;
    z-index: 1;
}
li.multiselect-reset.text-center a {
    display:inline !important;
}

.open>.dropdown-menu{
    max-width: 800px;
    min-width: 300px;
}
/* quando uma linha de uma tabela estiver sendo atualizada via ajax*/

.tr-updating {
    height: 60px;
    background-color: #efefef;
    text-align: center;
}


/*FIM CSS DATATABLE*/


/* div das justificativas de colaboraca nao aceita */

.fldTextoLivre {
    margin-top: 5px;
    text-align: justify;
    border: 1px solid #cbcbd6;
    max-height: 100px;
    overflow-y: auto;
    color: black;
    padding: 5px;
}


/* INTRO JS */

.introjs-helperNumberLayer {
    left: 4px;
}

.avisos * {
    font-size: 1rem !important;
}

.avisos li {
    text-align: justify;
}

.avisos p {
    text-align: justify;
    line-height: 14px;
}

.div-grafico-prim td {
    vertical-align: top !important;
}


/* ORGCHART */

.orgchart {
    background-image: none !important;
}

.orgchart .node .title {
    background-color: #32792e !important;
}

.orgchart .node .content {
    border: 1px solid #32792e !important;
}

.orgchart .lines .leftLine {
    border-left: 1px solid #32792e !important;
}

.orgchart .lines .topLine {
    border-top: 2px solid #32792e !important;
}

.orgchart .lines .rightLine {
    border-right: 1px solid #32792e !important;
}

.orgchart .lines .downLine {
    background-color: #32792e !important;
}


/** tela alerta informativos */

#modalAlertaInformativos {
    z-index: 2010;
}

#modalAlertaInformativos div.modal-header * {
    font-size: 30px !important;
}

#modalAlertaInformativos div.modal-body {
    background-color: #fff !important;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
}

#modalAlertaInformativos div.modal-body * {
    font-size: 20px !important;
    line-height: 25px !important;
}

#modalAlertaInformativos p.informativo-tema {
    color: #292fa7;
    font-size: 22px !important;
    font-weight: bold;
}


/** tela modal alertas informativo */

#modalCadastrarAlerta #txAlerta {
    font-size: 20px !important;
    min-height: 170px;
}


/** fim tela modal alertas informativos*/


/** tela modal informativos */

#modalCadastrarInformativo {}

#modalCadastrarInformativo #txInformativo {
    font-size: 20px !important;
    min-height: 170px;
}

#modalVisualizarInformativo .modal-title {
    font-size: 1.5rem !important;
}

#modalVisualizarInformativo .content-title .nu-informativo {
    padding: 0;
    margin: 0;
    font-size: 40px !important;
    padding-bottom: 5px;
}

#modalVisualizarInformativo .content-title .dt-informativo {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

#modalVisualizarInformativo .content-title .de-tema {
    line-height: 20px;
    font-size: 18px !important;
    font-weight: bold;
    color: #001fff;
}

#modalVisualizarInformativo .modal-body {
    background-color: #c8d7b9;
}

#modalVisualizarInformativo .content-body {
    font-size: 20px !important;
    height: auto;
    min-height: 220px;
    max-height: 220px;
    background-color: #ffffffc2;
    overflow-y: auto;
    padding: 5px 15px;
    border-radius: 10px;
}

#modalVisualizarInformativo .content-body .tx-informativo {
    line-height: 20px;
}

#modalVisualizarInformativo table.table-informativos {
    font-size: 1.2rem !important;
}

#modalCadastrarInformativo .nu-informativo {
    font-size: 20px !important;
    color: blue;
}


/* fim tela modal informativos */


/* text blink */

.blink-me {
    animation: 1.5s blinker linear infinite;
    -webkit-animation: 1.5s blinker linear infinite;
    -moz-animation: 1.5s blinker linear infinite;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

.blinking-red {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #f00;
    }
    49% {
        color: #f00;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: #f00;
    }
}


i#appSpinner {
    padding-top: 2px !important;
    margin-top: 9px !important;
    margin-left: 5px !important;
}
div#imgBrand {
    min-width: 20px !important;
    margin-left: -20px !important;
}

/* fim text blink */


.col-sort {
    float: right;
    margin-right: 4px;
    margin-top: 3px;
}

/*
.sort:before {
    content:'*';
    color:red;
    float:right;
    top:0;

}
*/
/*th.sorting:before {
    display: block;
    content: "*";
    color:red;
    position: absolute;
    top: 50%;
    right: 8px;
    width: 7px;
    height: 9px;
    margin-top:-4px;
    background: transparent url("http://i.imgur.com/iONZm.png") 0 0;
}
*/
/*<i class="col-sort gray fa fa-sort"></i>*/
div.grid-container {
    border-bottom: 2px solid #168639;
}

.table-sorting th.sorting {
    padding-right: 21px;
    /*background: #d1dcc4 url("http://i.imgur.com/aeoOO.png") no-repeat center right;*/
    background: #d1dcc4 url("../images/sorting.png") no-repeat center right;
    cursor: pointer;
    color: #000;
}

.table-sorting th.sorting_asc {
    /*background: #d1dcc4 url("http://i.imgur.com/7gADX.png") no-repeat center right;*/
    background: #d1dcc4 url("../images/sorting_asc.png") no-repeat center right !important;
    color: #127bcf;
}

.table-sorting th.sorting_desc {
    /*background: #d1dcc4 url("http://i.imgur.com/DGeF3.png") no-repeat center right;*/
    background: #d1dcc4 url("../images/sorting_desc.png") no-repeat center right !important;
    color: #127bcf;
}


.ul-colaboracao {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 12px;
}

.ul-colaboracao a {
    text-decoration: none;
    line-height: 0;
}

.ul-colaboracao .cursor-pointer:hover {
    color: blue;
    text-decoration: underline;
}

.ul-colaboracao label {
    line-height: 0;
}

.li-colaboracao-tipo {
    font-weight: bold;
}

.li-colaboracao-subtipo {
    font-weight: normal;
    color: #4b4b4b;
}

.li-colaboracao-item {
    font-weight: normal;
}

.hr-colaboracao {
    height: 1px;
    background-color: #b8d6c3;
}

.input-group-btn button.btn-sm {
    padding: 4px 4px;
}

.input-group-btn ul.dropdown-menu {
    z-index: 10002;
}

.treeInput {
    display: inline-block;
}

.treeInput-ordem-com-traducao {
    max-width: 190px;
}
.treeInput-ordem-com-bacia {
    max-width: 190px;
}

.treeInput-image {
    max-width: 22px;
    max-height: 16px;
    display: inline-block;
    margin-right: 0px;
}

.treeInput-text-traduzido {
    font-size: 13px;
    color: blue;
    font-style: italic;
}

.pendencia-log {
    display: block;
    font-size: 10px !important;
    color: #5f5f5f;
    width: auto;
    min-height: 30px;
    min-width: 100px;
    height: auto;
}

/* https://www.magicpattern.design/tools/css-backgrounds */
.map-legenda-estados-centroide {
    border: 1px solid #5a5a5a;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    display: inline-block;
    opacity: 1;
    background: repeating-linear-gradient( 45deg, #bbb3a3, #bbb3a3 3px, #f2efea 1px, #f2efea 5px );
}

.text-complementar-confirm {
    padding: 10px;
    line-height:1rem;
    max-height:200px;
    overflow-y:auto;
    font-size:0.8rem;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        padding-top: 120px !important;
        font-size: 12px !important;
        /*background-color: blue;*/
    }
    .app-title {
        line-height: 20px;
    }
    i#appSpinner {
        padding-top: 2px !important;
        margin-top: 24px !important;
        margin-left: 17px !important;
    }
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
    body {
        font-size: 12px !important;
        padding-top: 90px !important;
        /*font-size: 12px !important;*/
        /*background-color: red;*/
    }

    .app-title {
        line-height: 15px;
        font-size: 0.9em !important;
    }

    i#appSpinner {
        padding-top: 2px !important;
        margin-top: 24px !important;
        margin-left: 17px !important;
    }
}


div.ultimas-referencias {
    display: block;
    border: 0;
    padding: 2px;
    display: none;
    max-height: 200px;
    overflow-y: auto;
}

div.conteudo {
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
}
