@media screen {
    @font-face {
        font-weight: normal !important;
        font-style: normal !important;
        font-family: "open_sansregular";
        src: url("fonts/opensans/opensans-400-webfont.eot");
        src: url("fonts/opensans/opensans-400-webfont.eot?#iefix") format("embedded-opentype")
        , url("fonts/opensans/opensans-400-webfont.woff") format("woff")
        , url("fonts/opensans/opensans-400-webfont.ttf#open_sansregular") format("truetype")
    }

    @font-face {
        font-weight: normal !important;
        font-style: normal !important;
        font-family: "Open Sans";
        src: url("https://fonts.googleapis.com/css2? family = Abrir + Sans: wght @ 300 & display = swap'");
    }
}
