form.form-login label {
    font-weight: bold !important;
}

div#frmLogin i.image {
    margin-top: 20px !important;
    font-size:9rem !important;
    font-weight: bold !important;
    color:#dee8d47a !important;
}


div#frmLogin div#frmLoginBody {
    width: 380px;
    height:auto;
    min-height: 320px;
    text-align: center;
}


div#frmLogin div#frmLoginPerfilBody {
    width: 380px;
    height:auto;
    min-height: 220px;
    text-align: center;
}