.traduzir {
    cursor: pointer;
}

.texto-traduzido {

}

img.traducao-flag {
    max-height: 16px;
}

.texto-traduzido:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.texto-original {
    margin-top: -8px;
    font-size: 13px !important;
    color: blue;
    font-style: italic;
}

.display-block {
    display: block;
}

.label-arvore-taxonomica {
    display: inline-block;
    width: 62px;
}

span.ficha-html-nome-revisou {
    font-size: 10px !important;
}

.i-accordion {
    float: left;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}

div.traducaoRevisaoFicha {
    padding: 20px;
    margin-top:17px;
}

div.traducaoRevisaoFicha p {
    margin: 0 !important;
    padding: 0 !important;
}
div.traducaoRevisaoFicha label {
    margin: 0 !important;
    padding: 0 !important;
}

div.row-toolbar {
    width: auto;
    background-color: #fff;
    border: none;
    position: fixed;
    top: 67px;
    left: 22px;
    height: 38px;
    padding: 2px;
    z-index: 1;
}

.ficha-html-header {
    font-size: 24px !important;
    text-align: center;
}

.ficha-html-subheader {
    font-size: 20px !important;
    text-align: center;
}

.ficha-html-nao-publicada{
    color: red;
    font-size: 22px !important;
}

.ficha-html-toolbar {
    min-height: 30px;
    border-bottom: 1px solid gray !important;
    z-index: 1;
}

.ficha-html-group {
    /*background-color: #a4a8ce !important;*/
    background-color: #d4e1c9 !important;
    padding: 5px !important;
    font-size: 20px !important;
    font-weight: bold !important;
    height: auto !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ficha-html-section.text-justify {
    text-align: justify !important;
}

.ficha-html-section {
    margin-bottom: 10px !important;
    padding: 0 20px !important;
}


div.ficha-html-text-justify p {
    text-align: justify !important;
    font-size: 18px !important;
}

div.ficha-html-text-justify div {
    text-align: justify !important;
    font-size: 18px !important;
}


.ficha-html-label span.texto-traduzido {
    font-size: 20px !important;
    font-weight: bold !important;
}

.ficha-html-label span.ficha-html-disclaimer {
    font-size:12px !important;
    color:gray;
}
.ficha-html-label p.ficha-html-disclaimer {
    font-size:12px !important;
    color:gray;
}

.ficha-html-sublabel span.texto-traduzido {
    font-size: 16px !important;
    font-weight: bold !important;
}


.ficha-html-text-box {
    height: auto !important;;
    min-height: 100px !important;;
    max-height: 300px !important;
    overflow: hidden !important;
    overflow-y: auto !important;
}
