* {
    color:#fff;
}
.cursor-pointer {
    cursor:pointer;
}

.icon-state {
    float: left;
    top: 2px;
    margin-left: 13px;
    margin-top: 11px;
}

.card {
    margin-bottom: 15px;
    background-color: #336ca76b;
    border-radius: 20px;
}

tr {
    color:#000;
}

.navbar-brand a {
    color:inherit;
}

.box-texto {
    max-height: 400px;
    overflow: auto;
    border:1px solid silver;
    margin-bottom: 10px;
    background-color: #ffffff90;
    margin:0px 15px;
    border-radius: 10px;
}
.box-texto * {
    color:#000;
}
.box-texto p,span {
    text-align: justify;
}

.ficha .topico {
    text-align: center;
    border-radius: 20px;
    line-height: 40px;
    font-weight: normal;
    padding: 3px;
    background-color: #2b467a;
}

.ficha .titulo-negrito {
    font-weight: bold;
    font-size:1.22rem;
    margin-top: 20px;
}

.ficha .topicoA {
    /*background-color: #74b2bc;*/
    font-size: 1.5rem;
    font-weight: bold;

}

.ficha .topicoB {
    /*background-color: #a1d4db;*/
    font-size: 1.4rem;
}

.ficha .topicoC  {
    /*background-color: #d6e9ec;*/
    font-size: 1.4rem;
}