.lightboxOverlay {
    z-index: 10000 !important;
}


/** fancybox */
.fancybox-container {
    z-index: 9999 !important;
}

.fancybox-is-open .fancybox-bg {
    /*background-color: yellow;*/
    opacity: .5;
}

.fancybox-content {
    padding: 0 10px 10px 10px;
    /*background-color: #19385ad6;*/
    background-color: #fff;
    color:#000;
}
.ficha-ajax div.collapse-wrapper {
    background-color: #fff;
}


/* ficha ajax */
.ficha-ajax {
    max-width: 800px;
}
.ficha-ajax table {
    color:#000;
}

.ficha-ajax .card-title {
    font-size: 30px;
}

.ficha-ajax .nome-cientifico {
    color:#62c76f;
}

.card-specie img.img-header {
    max-width: 200px;
    max-height: 150px;
}

.card-specie p.autor {

}

.card-specie small {
    font-size:10px;
}



div.ficha-html div.texto-mudanca-categoria{
    color:#000 !important;
}
div.ficha-html div.texto-mudanca-categoria a{
    color:#000 !important;
    font-weight: bold;
}

.ficha-ajax .table-hover tbody tr:hover {
    /*cursor:pointer;*/
    color: #000;
    background-color: rgb(198, 219, 219);
    cursor:pointer;
}
.ficha-ajax .table thead th {
    vertical-align: middle;
    border-color:#c0c0c04a;
    background-color: #d1dddd;
    color:#000;
}

.ficha-ajax b {
    color:green;
}

.ficha-ajax .ficha-header {
    color:#fff;
    /*background-color: #323640f2;*/
    background-color: #d3dfdf;
    padding:0 3px ;
    margin: 0 -10px 10px;
    align-items: center;
    height: 50px;

}

.ficha-ajax .ficha-header .ficha-title {
    font-size: 1.3rem;
    font-weight: bold;
    color:#000;
}

.ficha-ajax .ficha-header .btn-close {
    width:35px;
    box-shadow: none;
}
.ficha-ajax .btn-close:focus {
    box-shadow: none;
}

.ficha-ajax .card-header {
    /*background-color: #343a40b8;*/
    background-color: #d3dfdf;
    padding: 7px 10px;
    font-size: 1.2rem;
    border-bottom: none;
}

.ficha-ajax div.card-header.dynamic {
    cursor:pointer;
}

.ficha-ajax div.current-category {
    font-size:25px;
}
.ficha-ajax .card-body {
    color: #000;
    background:  #fff;
}

.ficha-ajax div.content-ajax {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.ficha-ajax .title-bold {
    font-weight: bold;
    font-size:1.2rem;
}

.ficha-ajax .text-legend {
    font-size: 1.1rem;
    text-align: center;
}

.ficha-ajax .box-texto {
    margin:0px 15px;
    padding-top:10px;
    margin-bottom: 10px;
    height: auto;
    min-height: 50px;
    max-height: 400px;
    overflow: auto;
    border:1px solid silver;

    /*background-color: #3d3e4f;*/
    background-color: #efefef;

    border-radius: 7px;
    text-align: justify;
}
.ficha-ajax .box-texto p,span {
    text-align: justify;
}

.ficha-ajax .mapa-disclaimer {
    color: #4e4b4b;
    text-align: center;
    font-size: 0.85rem;
    margin: 10px 0px;
}
.ficha-ajax .mapa-disclaimer .mapa-saiba-mais{
    color: #000;
}
.ficha-ajax .mapa-disclaimer .mapa-saiba-mais:hover{
    text-decoration: underline;
}


label.label-justificativa {
    font-size: 18px !important;
    margin-bottom: 0px;

}

div.text-justificativa {
    border:1px solid gray;
    border-radius: 8px;
    background-color: #eeeeee;
}

div.text-justificativa p {
    text-align: justify !important;
    font-size:17px !important;
    padding:5px;
}
