html {
    width: 100%;
    height: 100vh;
    /*background-color: #9a5658;*/
    background-color: #f4f6ff;
    /*padding-top: 85px !important;*/
    /*background-color:  #467fa7; azul */
    /*background-color:  #3c6021; verde*/
    /*background-image: url("/salve-estadual/assets/public/wallpaper00.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    overflow: hidden;
}
body {
    font-family: Helvetica,"Roboto", "Sans-serif";
    font-size:100%;
    /*color:#fff;*/
    color:#092532;
    /*margin-top:85px !important;*/
    width: 100%;
    height: 100vh;
    background-color: transparent;
   /* background-image: url("/salve-estadual/assets/public/wallpaper00.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
    /*scroll-behavior: smooth;*/
    /*scroll-snap-type: y mandatory;*/
/*

    transition: background-image 2s linear;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform:translate3d(0,0,0);

    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
    -webkit-transition: background-image 2s linear;

    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -moz-transform:translate3d(0,0,0);
    -moz-transition: background-image 2s linear;

    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;
    -ms-transform:translate3d(0,0,0);
    -ms-transition: background-image 2s linear;

    -o-transform-style: preserve-3d;
    -o-backface-visibility: hidden;
    -o-transform:translate3d(0,0,0);
    -o-transition: background-image 2s linear;*/


}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient( transparent, #024502);
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient( transparent, #5a9249);
}

p {
    text-align: justify;
    margin-bottom: 0;
}

.table thead th {
    vertical-align: middle;
}
.table thead tr {
    vertical-align: middle;
}

th.with-subtitle {
    border-bottom:none;
}

.btn-warning {
    color: #212529;
    background-color: #8ebc94;
    border-color: #8ebc94;
}

.checkbox-lg
{
    transform: scale(1.5) !important;
    text-transform: scale(1.5) !important;
    margin-left: 5px !important;
    margin-right: 7px !important;
}

.radio-lg
{   transform: scale(1.5) !important;
    text-transform: scale(1.5) !important;
    margin-left: 10px;
    margin-right: 10px;
}
.radio-uc {
    margin-right:2px;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    min-height:calc( 100vh - 90px);
    margin-bottom: 20px;
    /*scroll-snap-align: center;*/
}
.section a {
    text-decoration: underline;
    font-size: 1.1rem;
    color:#000;
}
.section a:hover {
    text-decoration: underline;
}

.card {
    border:none;
}

.card .card-header,.card .card-footer {
    /*background-color: #343a40b8;*/
}

.div-image {
    margin-top:10px;
    padding:10px;
    border-radius: 8px;
    background-color: #d3dcd7;
}

.form-group  label {
    margin-bottom: 0.01rem;
}
.cursor-pointer {
    cursor:pointer !important;
}
.cursor-pointer * {
    cursor:pointer !important;
}

.form-check * {
    cursor:pointer !important;
}
.text-help {
    text-decoration: underline;
    cursor:help;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

table tbody a.link {
    color: #0a8e1b;
}

table tbody span.disabled {
   font-size:1.1rem;
   color: #787878;
}
i.disabled {
    color:gray;
}
#navbarMain {
    /*background-color: #47637990;*/
    /*background-color:  #000900d6;*/
    /*background-color:  #482a2b;*/
    background-color:  #8fbd95;
    /*margin-right: 10px;*/
}
#navbarMain .home-icon {
    font-size: 30px;
    padding: 10px;
}

#navbarMain .logo-icmbio {
    max-height: 55px;
}

#navbarMain .nav-item  {
    text-align: center;
    max-width: 180px;
    margin-right: 30px;
}

#navbarMain .nav-item .nav-link  {
    color: #01311b;
}
#navbarMain .nav-item:hover  {
    cursor:pointer;
    background-color: #7aa07f;
    border-radius: 10px;
    color:#000;
}

.section div.card, .section div.jumbotron {
    max-width:1200px !important;
}


#inicio {}

#inicio .logomarca-salve {
    /*max-width: 514px;*/
    max-height:250px;
    margin-bottom: 40px;
    opacity: 0.70;
    filter: sepia(0%);
}
#inicio .title {
    font-size:3rem;
    color: #467d5f;
}

#inicio div#cardSearch {
    max-width: 900px !important;
}

.search-fields-group {
    border:1px solid #02311b;
    border-radius: 8px;
}
.search-fields-group .form-control {
    color: #000 !important;
    background-color: #fff;
}

select option {
    color: #000;
}

#divTotals label{
    font-size:1.4rem;
}

#divTotals .my-odometer {
 font-size:1.8rem;
 font-weight: bold;
}

#divTotals .fa-asterisk {
    font-size: 0.9rem;
    position:absolute;
    top:12px;
}
.shadow {
    -webkit-box-shadow: 26px 34px 49px -51px rgba(13,23,5,1);
    -moz-box-shadow: 26px 34px 49px -51px rgba(13,23,5,1);
    box-shadow: 26px 34px 49px -51px rgba(13,23,5,1);
}

#divTotals .total {
    border: 1px solid #00000042;
    border-radius: 8px;
    background-color: #fff;
    color:#467d5f;
    min-height:113px;
    padding:5px;
    box-shadow: 15px 19px 15px -10px #a0aca2;
}

.saiba-mais {
    color:#467d5f;
    background-color: #d5ded9;
    border: 1px solid #4c8368;
    border-radius: 8px;
    height:auto;
    padding:10px;
}
div.saiba-mais span.asterisk {
    font-size:12px;
    color:red;
}

#divSearchResults {
    color:#000;
    overflow:auto;
    max-height: 80vh;
    min-height: calc( 100vh - 280px);
}

#divSearchResults table {
    color:inherit;
}

/** fim div searchResults */


/* inicio table-search-results */
.table-search-result-wrapper {
    font-size:20px !important;
    position:relative;
    overflow:auto;
    max-height: 80vh;
    min-height: calc( 100vh - 280px);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table-search-result {
    position:relative;
    top:0px;
    left:0px;
}

#divSearchResults a {
    color: #000;
    text-decoration: none;
    font-size: inherit !important;
}

.table-search-result .table-search-result-header {
    font-size:1.5rem;
}

.table-search-result-title {
    font-size: 1.3rem;
    /*font-size:18pt !important;*/
}
.table-search-result-total-records {
    font-size:15pt !important;
}

.table-search-result th {
    background-color: #d1dad5 !important;
    border:1px solid silver;
}

.table-search-result tbody > tr {
    background-color: #fff;
}

.table-search-result tbody > tr:hover {
    background-color: #01311b33;
    color:#000;
    cursor: pointer;
}

.table-search-result td {
    padding: 0.45rem;
    vertical-align: middle;
}

.table-search-result i.sort-active {
    color:#17a2b8;
}

.table-search-result i.sort-inactive {
    color:gray;
}

.table-search-result tfoot td {
    background-color: #d0d8d4;
    color:#000;
}
.tr-ficha-excluida {
    background-color: #ede0e0 !important;
}
.tr-ficha-excluida:hover {
    background-color: #ecbebe !important;
}
/* fim table search result */




a.link-advanced-search {
    color: #467d5f;
    font-size: 1.5rem;
}

a.link-advanced-search:hover {
    color: #467d5f;
}

#divAdvancedSearch {
    background-color: #d3dcd7;
    color:#000;
}

#divAdvancedSearch .fa-times {
    cursor:pointer;
    font-size:1.4rem;
    color:gray;
}
#divAdvancedSearch .fa-times:hover {
    font-size:1.4rem;
    color:white;
}

#divAdvancedSearch .form-check {
    font-size:1.3rem;
}

/* SELECT 2 OVERRIDES */
.select2-container {
    background-color: #fff;
    color:#000;
}
.select2-container .select2-selection__choice__remove {
    color:#f00 !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #fff;
    color:#000
}
.select2-container--default.select2-container .select2-selection--single {
    background-color: #fff;
    color:#000
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000;
    line-height: 35px;
}
.select2-container .select2-selection--single {
    height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top:6px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent !important;
}
.select2-results .select2-results__options {
    color:#000;
}
.select2-results__option .select2-results__option--highlighted {
}
.select2-search__field{
    background-color: #fff;
    color: #000;
}
.select2-container--default .select2-results>.select2-results__options {
    max-height: 50vh;
    overflow-y: auto;
}
.select2-dropdown {
    background-color: #fff;
}
.select2-results .select2-results__options {
    color: #000;
}
/*
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #d1dad5;
    color: #000;
}*/
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #8fbd95;
    color: #000;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
    color: #000;
}

/*******************/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #442a2a;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.select2-container--default .select2-selection--multiple {
    background-color: transparent !important;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #aaa;
    outline: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #8ebc94;
    margin-bottom: 3px;
    color:#000;
}

.fa-info-circle {
    color: #096f16;
    cursor:help;
}

.span-endemica {
    color: #467d5f;
}
.span-endemica:hover {
    color: rgb(92, 183, 92);
}
/** VUE SWITCHES https://github.com/drewjbartlett/vue-switches */
.vue-switcher-wrapper .switch-label {
    font-size:1.2rem;
    cursor:pointer;
}
.vue-switcher div {
    top: 1px;
}
.vue-switcher-theme--bootstrap.vue-switcher-color--success.vue-switcher--unchecked div:after {
    background-color: #c5cbc6;
}
.vue-switcher-theme--bootstrap.vue-switcher-color--success.vue-switcher--unchecked div {
    background-color: #656c65;
}

/* paginação */
nav ul.pagination {
    margin:0;
    padding:0;
}
.page-item-disabled .page-link {
    background-color: transparent;
    border-color: gray;
    color:#7f7f4f !important;
}
.page-link {
    background-color: transparent;
    border-color: gray;
}

.page-item.active .page-link {
    background-color: #0a8e1b;
    color:#fff;
}

.page-link:hover {
    background-color: #8ebc94;
    color:#000;
    border-color: gray;
}

/* sweetalert2 */
.swal2-container {
    z-index: 10000 !important;
}

.swal2-checkbox, .swal2-file, .swal2-input, .swal2-radio, .swal2-select, .swal2-textarea {
    margin: 6px auto !important;
}
.swal2-input {
    height: 2.025em !important;
}

/*body.swal2-shown {
    overflow-y: hidden !important;
}*/

/* colunas tabela */

.col-ufs {
    min-width: 150px;
}
.col-biomas {
    min-width: 150px;
}
.col-categoria {
    min-width: 150px;
}
.col-acao {
    width:80px;
}
.col-nome-cientifico {

}
.col-nome-comum {

}
.col-grupo {

}
.td-nome-cientifico {
    width:170px;
    max-height: 100px;
    overflow: auto;
}
.td-nome-comum {
    width:180px;
    max-height: 100px;
    overflow-y: auto;
}

.col-periodo-ultima-avaliacao {
    max-width: 150px;
}

/* blockui */
.blockUI {
    font-size: 2.0rem;
    border-radius: 10px;
    '-webkit-border-radius': 10px;
    '-moz-border-radius': 10px;
}

/* Inicio css Infinite Slider */
#randomImagesDestaque {
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    background-color: #fdfdfd;
    max-width: 100% !important;
    color: #467c5f;
}
#randomImagesDestaque .slider {
    height: 240px;
}
#randomImagesDestaque .slider__nav_left {
    background-color: rgba(211, 220, 215, 0.6);
}
#randomImagesDestaque .slider__nav_left:hover {
    background-color: rgba(142, 188, 148, 0.78);
}
#randomImagesDestaque .slider__nav_next {
    background-color: rgba(211, 220, 215, 0.6);
}
#randomImagesDestaque .slider__nav_next:hover {
    background-color: rgba(142, 188, 148, 0.78);
}
.slider__nav:before {
    border-color: #467d5f;
}

#randomImagesDestaque div.sliderEspeciesDestaque {
    margin-top:10px;
}
#randomImagesDestaque .slider__item div.card {
    background-color: transparent !important;
    width: 100%;
    height: 100%;
}
#randomImagesDestaque .slider__item {
    /*background-color: rgba(235, 235, 241, 0.17) !important;*/
}

#randomImagesDestaque .slider__item div.wrapper {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    padding-top:15px;
    border:none;
    text-align: center;
}
#randomImagesDestaque .slider__item img.img-specie{
    margin:0 auto;
    display:block;
    max-width:200px;
    max-height:160px;
    cursor:pointer;
    border-radius: 10px;
}

#randomImagesDestaque .slider__item div.card_body {
    margin:0;
    padding:0;
    padding-top:10px;
}

#randomImagesDestaque .slider__item div.nome-autor{
    padding:0;
    margin:0;
    display: block;
    position: relative;
    top: -14px;
    /*color: rgba(255, 255, 255, 0.69);*/
    font-size: 9px;
}

#randomImagesDestaque .slider__item a.link-ficha-html {
    position: relative;
    top: -13px;
    cursor:pointer;
    color: #729c85;
}
#randomImagesDestaque .slider__item a.link-ficha-html:hover {
    /*color: #fda401 !important;*/
    text-decoration: underline;
}
#randomImagesDestaque .slider__item a.nao-publicada {
    text-decoration: none !important;
    color:gray;
}
#randomImagesDestaque .slider__item a.nao-publicada:hover {
    /*color: #fff !important;*/
    text-decoration: none !important;
}

#randomImagesDestaque .slider__item div.nome-comum {
    position: relative;
    top: -13px;
    font-size:13px;
}

/* fim css Infinite Slider */
.text-warning {
    color:red !important;
}

/* inicio seção salve em numero */
#salveNumeros {
    border:1px solid #bbbbbb;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #fbfbfb;
    margin-bottom: 20px;
}

#salveNumeros .jumbotron {
    color: #678d6f;
    border-radius: 10px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
}

#salveNumeros .card {
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 0;
}
#salveNumeros .jumbotron, #salveNumeros .card {
    background-color:transparent;
}

#salveNumeros .wrapper-graficos {
    /*background-color: #0a0a0a38;*/
    background-color: #d5ded9;
    border-radius: 8px;
    padding: 20px 20px;
}
#salveNumeros table.table-numeros {
    padding:10px;
    background-color:  #fffffffc;
    margin-bottom: 0;
    color: #31351e;
}
#salveNumeros table.table-numeros tbody tr:hover {
    background-color: rgba(142, 188, 148, 0.78);
    color:#000;
    cursor:pointer;
}
#salveNumeros div.table-legenda {
    margin:auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#salveNumeros .table-wrapper {
    border:2px solid #8fbd95;
    border-radius: 8px;
    min-width:500px;
    width:auto;
    height:auto;"
    margin-right:20px;
}

#salveNumeros .grafico-wrapper {
    border:none;
    text-align: center;
    height:auto;
    width:auto;
}
#salveNumeros div.graph-draw {
    height:auto;
    width:auto;
}
#salveNumeros div.graph-title{
    font-size: 1.5rem;
    display:none;
}
#salveNumeros table.table-numeros thead {
    /*font-size:1.4rem;
    border-bottom:2px solid #854c14;
    background-color: #834a1366;*/
}
#salveNumeros table.table-numeros tbody {
    /*font-size:1.2rem;*/
}

#salveNumeros .table-header {
    font-size:1.4rem;
    background-color: #8fbd95;
}

#salveNumeros .table-body {
    font-size:1.2rem;
}

#salveNumeros .table-footer {
    cursor:default !important;
    background-color: #8fbd95 !important;
    font-weight: bold;
}

#salveNumeros .graph-draw {
    cursor:pointer;
    width:250px;
    height:250px;
}

/* fim seção salve em numero */


/* Início Seção Livro Vermailho */
#livroVermelho {
    color: #648676;
    background-color: #f9f9f9;
    border:1px solid #b9b9b9;
    border-radius: 8px;
    padding: 10px 10px;
}

#livroVermelho div.card-body {
    background-color: #f9f9f9;
}

#livroVermelho div.jumbotron {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 2rem 2rem;
    margin-bottom: 0px;
}

#livroVermelho .card {
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 0;
}
#livroVermelho .jumbotron, #livroVermelho.card {
    background-color: #3c4e6163;
}

#livroVermelho img {
    position:relative;
    top:0;
    left:0;
    max-height:170px;
    box-shadow: 10px 10px 10px #151515a3;
    /*padding: 0px 20px;*/
    /*border-radius: 5px;*/
}

#livroVermelho img:hover {
    top:5px;
    left:5px;
    box-shadow: 5px 5px 5px #151515a3;
    /*padding: 0px 20px;*/
    /*border-radius: 5px;*/
}

#livroVermelho .img-book {
    max-height: 170px;
}

#livroVermelho .img-destaque {
    max-height: 160px;
}

#livroVermelho a {
    font-size: 1rem;
}

#livroVermelho .livroVermelhoVolume {
    margin-top:10px;
}
/** fim seção livro vermelho */

/** section graficos especies ameacadas */

#especiesAmeacadas {
    padding: 10px 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    border: 1px solid #bababa;
}
#especiesAmeacadas div.card-body {
    color: #678c6f;
}
#especiesAmeacadas div.card-body {
    background-color: #f9f9f9;
}

#especiesAmeacadas div.card-footer {
    background-color: #d5ded9;
    color: #023e44;
}
#especiesAmeacadas div.legenda-graficos {
    color:#000000;
    background-color: transparent !important;
}
#especiesAmeacadas div.legenda-graficos div.cor-legenda {
        border-radius: 50px;
        padding:3px;
        font-size:  1.2rem;
}

#especiesAmeacadas .graph-area {
    background-color: #d5ded9;
    border-radius: 8px;
    padding-top: 10px;
}

#especiesAmeacadas .graph-title {
    color:#0b5d16;
    color:#000;
    margin-bottom:10px;
    text-align: center;
    white-space: pre-wrap;
    height: auto;
    width: 100%;
    font-size:1.08rem;
}

#especiesAmeacadas .graph-image {
    opacity:0.8;
    /*position:relative;
    top:-234px;*/
}

#especiesAmeacadas .graph-draw {
    cursor:pointer;
    width:250px;
    height:250px;
}

/** section Cenario Atual */
#cenarioAtual {
    padding: 10px 0px;
    border-radius: 10px;
    background-color: rgba(203, 203, 203, 0.56);
}


/** section entenda o processo */
#comoFazAvaliacao {
    color: #678b6f;
    background-color: #f9f9f9;
    border:1px solid #b9b9b9;
    border-radius: 8px;
    padding: 10px 0px;
}

#comoFazAvaliacao div.card-body {
    background-color: #f9f9f9;
}

#comoFazAvaliacao li a {
    color: #02311b;
    text-decoration: none;
}

/* seção quem somos */
#quemSomos {
    color: #678b6f;
    background-color: #f9f9f9;
    border:1px solid #b9b9b9;
    border-radius: 8px;
    padding-bottom:10px;
}
#quemSomos div.card-body {
    background-color: #f9f9f9;
}

#quemSomos .quem-somos-fotos * {
    color:white;
    font-size:0.9rem;
}
#quemSomos .profile {
    width:300px;
    padding:10px;
    padding-top:20px;
    background-color: #25273a78;
}

#quemSomos .img-box img {
    max-width:100px;
    max-height: 100px;
    border-radius: 8%;
}

#quemSomos .img-box i.fa-user {
    font-size:100px;
    color:#695e6c;
}

#quemSomos a.link-lattes {
    color:#000;
    text-decoration: underline;
}

.email {
    color:#000 !important;
}

.modal-participantes {
    /*background-color:#4d4545;*/
    background-color:#1c401f;
}

.participantes-wrapper {
    padding:10px;
    background-color: #0a0a0a90;
}

/* seção fale conosco */
#faleConosco {
    color: #678b6f;
    background-color: #f9f9f9;
    border:1px solid #b9b9b9;
    border-radius: 8px;
}
#faleConosco div.card {
    background-color: #d3dcd7;
    border-radius: 8px;
}

.form-fale-conosco textarea {
    min-height: 150px;
    height: 150px;
    color:#fff;
}
.form-fale-conosco textarea:focus {

}
.form-fale-conosco input {

}
.form-fale-conosco input:focus {

}
/* fim fale conosco */


.modal .close {
    color: #ac3a3a !important;
}
.modal .close:hover {
    color:#f00 !important;
}

/** DATATABLES */
table.dataTable {
    border:1px solid gray;
}
table.dataTable thead th {
    cursor:pointer;
}

.datatables_filter input {
    background-color: #fff !important;
    color: #000 !important;
    font-size: 0.8rem;
    font-weight: bold;
}
.datatables_filter input:focus {
    background-color: transparent;
    color: #000;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\2193";
    color: #090000;
    font-size: 1.3rem;
    font-weight: bold;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\2191";
    color: #090000;
    font-size: 1.3rem;
    font-weight: bold;
}


/** ABAS */
.tabs-quem-somos .nav-tabs {
    border-bottom: 1px solid #808080;
}

.tabs-quem-somos .tab-content {
    background-color: #ffff;
}
.tabs-quem-somos .tab-pane {
   min-height: 500px;
    background-color: #fff;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
    border-right:1px solid #000;

}

.tabs-quem-somos .nav-tabs .nav-item.show .nav-link, .tabs-quem-somos .nav-tabs .nav-link.active {
    color: #000 !important;
    border: 1px solid gray;
    border-top-right-radius: 20px;
    background-color: #8ebc94;
    border-bottom-color: #fff;
}

.tabs-quem-somos .nav-tabs .nav-item {
    margin-right: 1px;
    margin-bottom: -1px;
    border: 1px solid gray;
    border-top-right-radius: 20px;
    background-color: #fff;
}
.tabs-quem-somos a.link, .tabs-quem-somos .nav-link {
    color: #6d6e6e !important;
    text-decoration: none;
}

.tabs-quem-somos .nav-link:hover {
    color:#000 !important;
    background-color: #d0d8d4;
}
/** FIM ABAS */

/* secao sobre o salve e parceiros */
#sobreSalve {
    color: #678b6f;
    background-color: #f9f9f9;
    border:1px solid #b9b9b9;
    border-radius: 8px;
}

#sobreSalve div.entidades-parceiras-title {
    font-size: 2.1rem;
}
#sobreSalve div.logos-parceiros {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}
#sobreSalve div.logo-parceiro {
    background-color: #ffffff;
    padding: 5px;
}
#sobreSalve img.logo-parceiro {
    max-width: 200px;
}
/* fim secao sobre o salve e parceiros */


/** FICHA HTML */
div.ficha-html div.categoria-avaliacao i.fa-asterisk {
    position: relative;
    top: -10px;
    left:-9px;
    font-size: 0.45rem;
}

div.ficha-html div.texto-mudanca-categoria {
    display:block;
    font-size:0.8rem;
    color:#caccce;
    line-height: 13px !important;
}

div.ficha-html div.texto-mudanca-categoria i.fa-asterisk {
    font-size:0.4rem;
    position:relative;
    top:-4px;
}
div.ficha-html div.texto-mudanca-categoria a {
    color:#caccce !important;
    font-weight: bold;
}

div.container-justificativa-historico {
    max-height: 50vh;
    overflow-y:auto;
    font-size:20px;
    padding-right:5px;
}
/** FIM FICHA HTML*/

/*MAPA não funcionou o fullscreen */
.map {
    position:relative;
    margin-top: 5px;
    height: 600px;
    border: none;
}
/* mozilla */
.map:-moz-full-screen {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
}
/* crhome */
.map:-webkit-full-screen {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
}
.map:fullscreen {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important
}
.ol-geocoder.gcd-gl-container {
    top: 17.275em !important;
}
.ol-geocoder .gcd-gl-expanded {
    width: 18.725em !important;
    height: 2.1875em !important;
}
.ol-geocoder .gcd-gl-input {
    width: 18.84375em !important;
}
.ol-geocoder ul.gcd-gl-result>li:nth-child(odd) {
    background-color: #ffffff;
    color:#000000;
}
.ol-geocoder ul.gcd-gl-result {
    width: 25.25em;
}

.ol-overlay-container {
    color:#000 !important;
}

.ol-overlay-container {
    font-size: 16px !important;
    color:#000 !important;
}
.ol-overlay-container * {
    color:#000 !important;
}

.ol-overlay-container h4 {
    font-size: 16px !important;
}
/* fim mapa */


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 766px) {
    .blockUI {
        font-size: 1.1rem;
    }

    #navbarMain .nav-item  {
        text-align: left;
        background-color: #868686;
        padding-left:10px;
        max-width: 400px;
    }

    #navbarMain .nav-item a {
        color:#fff;
    }

    #navbarMain .nav-item:hover  {
        border-radius: 0px;
        background-color: #0D76E5;
    }

    #inicio .logomarca-salve {
        max-height: 150px;
    }

    #inicio .title {
        font-size:1.5rem;
        color:#467d5f;
    }

    #divTotals .total {
        margin-bottom: 10px;
    }
    #divTotals .total label {
        font-size:1.3rem;
    }

    .link-advanced-search {
        font-size:1.2rem;
    }

    #divAdvancedSearch .form-check {
        font-size:1rem;
    }

    .vue-switcher-wrapper .switch-label {
        font-size:0.75rem;
    }

    .table {
        font-size:0.6rem;
    }

    .btn-group-sm>.btn, .btn-sm {
        padding-left: 2px;
        padding-right:2px;
        margin-right: 3px;
        font-size: .9rem;
    }

    .table-search-result .table-search-result-header {
        font-size:1.2rem;
    }

    .table-search-result-title {
        font-size: 1rem;
    }
}

/* For Responsiveness */
@media (min-width:32.5em) and (max-width: 61.250em) {

}
@media (min-width: 32.5em) and (max-width: 38.688em) {

}
@media (max-width: 32.438em) {

    .app-loading h1 {
        font-size:1.8rem !important;
    }

    .display-4 {
        font-size: 2.5rem
    }
    .jumbotron {
        max-width: 90%;
    }
    .card {
        min-width: 90%;
    }
    .lead {
        font-size: 1.15rem;
    }
    .card-title {
        font-size: 1.35rem;
    }
    .card .h4 {
        font-size: 1.2rem !important;
    }
    .card a {
        font-size: 1.1rem !important;
    }


    /* table save numero */
    #salveNumeros .table-wrapper {
        min-width:100%;
        width:auto;
        height:auto;"
        margin:0;
    }

    #salveNumeros div.graph-title{
        font-size: 0.9rem;
        display:none;
    }
    #salveNumeros table thead {
        font-size:0.9rem;
    }

    #salveNumeros table tbody {
        font-size:0.7rem;
    }
    /* fim table salve numero */

    /* quem somos table */

    #quemsomos table tbody {
        font-size:0.6rem !important;
    }
    #quemsomos table thead {
        /*font-size:0.5rem !important;*/
    }

    #quemSomos a.link-lattes {
      font-size:1rem;
    }
    #quemSomos a.email {
      font-size:1rem;
    }
    /* fim quem somos table */

    /* datatables */
    table.dataTable.table-sm>thead>tr {
        font-size: 0.7rem !important;
    }
    table.dataTable.table-sm>thead>td {
        font-size: 1rem !important;
    }
    table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
        font-size: 0.6rem;
    }
    table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
        font-size: 0.6rem;
    }
    div.dataTables_wrapper div.dataTables_filter {
        font-size: 0.7rem !important;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        font-size: 0.5rem !important;
    }
    /* fim datatables */


    /* nav tabs */
    .nav-tabs .nav-item {
        font-size: 0.7rem !important;
    }
    .nav-tabs .nav-item.show .nav-link, .tabs-quem-somos .nav-tabs .nav-link.active {
        font-size: 0.7rem !important;
    }
    /* fim nav tabs*/

    .table-search-result .table-search-result-header {
        font-size:1rem;
    }

    .table-search-result-title {
        font-size: 0.8rem;
    }

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }
