
.ol-mouse-position {
    font-size: 15px !important;
}

.ol3-popup * {
    font-size: 14px !important;
}

.ol3-popup {
    z-index:1;
    max-width:600px;
    min-width:450px;
    padding: 5px 10px;
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}
.ol3-popup:after, .ol3-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol3-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol3-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol3-popup-content{
    min-height: 277px;
}

.ol3-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
    color:#f00;
}
.ol3-popup-closer:after {
    content: "✖";
}

.ol3-popup-current-item  {
    font-weight: bold;
    font-size: 11px !important;
    padding-top: 5px;
}

.ol3-popup-buttons {

}

.ol3-popup-button {

}

.ol3-popup-select {
    border:1px solid #cacaca;
    background: #eeeeee;
    color:#000;
    width:70px;
    font-size:13px !important;
}

.ol3-popup-select-option {
    cursor:pointer;
}

.ol3-popup-nome-cientifico {
    font-size: 16px !important;
    font-weight: bold;
    color:darkblue;
}

.ol3-popup-subespecie {
    color:darkorange;
}
.ol3-popup-nome-cientifico i {
    font-size: 19px !important;
}

.ol3-popup-base-dados {
    font-size: 17px !important;
}

.ol3-legend-item{
    /*background-color: #02020273 !important;
    color: #f1f1f1 !important;
    */
}

/*legenda dos biomas*/
div[name="ol3MapLegendContainer"] {
    border:1px solid #6f96bc;
    display:none;
    padding:5px;
    z-index:1;
    overflow: auto;
    height: auto;
    max-height: 300px;
}

.ol3-map-legend {
    display: none;
    background-color:transparent;
    padding:5px;
}

.ol3-map-legend-title {
    border-bottom:1px solid #6f96bc;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2px;
}

.ol3-map-legend-item {
    width:100%;
    height:auto;
    display:block;
    line-height:normal;
    white-space: nowrap;
}

.ol3-map-legend-item-color {
    width:20px;
    height:15px;
    display:inline-block;
    background-color:transparent;
    margin-right: 6px;
}
.ol3-map-legend-item-value{
    min-height:15px;
    display:inline-block;
    color:#000000;
    font-size:12px !important;
    line-height:normal;
    vertical-align: top;
    white-space: nowrap;
}

.ol3-popup-text {
    text-align: justify;
    max-height: 100px;
    overflow: auto;
    border: 1px solid #c0c0c0;
    padding: 5px;
    margin-bottom: 0px;
}

.ol3-legend-item .fa {
    /*background-color: #02020273 !important;*/
}

.ol3-i-show-team {
    color:green;
}
